<p id="notice"><%= notice %></p>

<p>
  <strong>Company Name:</strong>
  <%= @address.company_name %>
</p>
<p>
  <strong>Line 1:</strong>
  <%= @address.line_1 %>
</p>
<p>
  <strong>Line 2:</strong>
  <%= @address.line_2 %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @address.postcode %>
</p>

<%= link_to 'Edit', edit_admin_address_path(@address) %>
<%= link_to 'Back', admin_addresses_path %>
