<h1>Listing wine_occasions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wine_occasions.each do |wine_occasion| %>
      <tr>
        <td><%= wine_occasion.name %></td>
        <td><%= link_to 'Show', wine_occasion %></td>
        <td><%= link_to 'Edit', edit_wine_occasion_path(wine_occasion) %></td>
        <td><%= link_to 'Destroy', wine_occasion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine occasion', new_wine_occasion_path %>
