<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <h3 class="panel-title">Listing Locales</h3>
      </div>
      <div class="col-md-6">
        <%= will_paginate @locales, :class => 'vyne_pagination' %>
      </div>
    </div>
  </div>

  <table class="table table-bordered">

    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Subregion</th>
      <th>Note</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @locales.each do |locale| %>
        <tr>
          <td><%= locale.id %></td>
          <td><%= locale.name %></td>
          <td><%= locale.subregion.name %></td>
          <td><%= locale.note %></td>
          <td class="button-wrapper">
            <%= link_to admin_locale_path(locale), class: 'btn btn-default' do %>
                <i class="glyphicon glyphicon-search"></i>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to upload_admin_locales_path, class: 'btn btn-default' do %>
          <i class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></i> Upload
      <% end %>
      <%= link_to 'New Locale', new_admin_locale_path, :class => 'btn btn-primary' %>
    </li>
  </ul>
</div>
