<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <h3 class="panel-title">Listing Compositions</h3>
      </div>
      <div class="col-md-6">
        <%= will_paginate @compositions, :class => 'vyne_pagination' %>
      </div>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Grapes</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @compositions.each do |composition| %>
        <tr>
          <td><%= composition.id %></td>
          <td><%= composition.name %></td>
          <td><%= composition.composition_grapes.map { |comp| comp.grape.name + (comp.percentage.blank? ? '' : ' (' + comp.percentage.to_s + '%)')}.join(', ') %></td>
          <td class="button-wrapper">
            <%= link_to admin_composition_path(composition), class: 'btn btn-default'  do %>
                <i class="glyphicon glyphicon-search"></i>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to upload_admin_compositions_path, class: 'btn btn-default' do %>
          <i class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></i> Upload
      <% end %>
      <%= link_to 'New Composition', new_admin_composition_path, :class => 'btn btn-primary' %>
    </li>
  </ul>
</div>
