<%= form_for(@wine_maturation) do |f| %>
  <% if @wine_maturation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine_maturation.errors.count, "error") %> prohibited this wine_maturation from being saved:</h2>

      <ul>
      <% @wine_maturation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :maturation_type_id %><br>
    <%= select_tag :maturation_type_id,
        options_from_collection_for_select(@maturationTypes, "id", "name", :selected => @wine_maturation.maturation_type_id),
        :prompt => "Choose a maturation type"
    %>
  </div>
  <div class="field">
    <%= f.label :period %><br>
    <%= f.number_field :period %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
