<div class="sign-in-box">
    <%= form_for(resource,
        as: resource_name,
        :html => {:class => "sign-in-form"},
        url: registration_path(resource_name)) do |f| %>
        <div class="fieldset form-step form-step-first">
            <h1>Register</h1>
            <div class="row-box">
                <div class="row name-row">
                </div>
                <div class="row">
                    <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
                </div>
                <div class="row tel-row">
                </div>
                <% if @validatable %>
                <i>(<%= @minimum_password_length %> characters minimum)</i>
                <% end %>
                <br />
                <div class="row password-row">
                    <%=
                    f.password_field :password,
                    autocomplete: "off",
                    :placeholder => "Password"
                    %>
                </div>
                <div class="row password-row">
                    <%=
                    f.password_field :password_confirmation,
                    autocomplete: "off",
                    :placeholder => "Confirm password"
                    %>
                </div>
                <a href="#" class="btn-next" data-next-step="form-step-last">NEXT</a>
            </div>
        </div>
        <div class="fieldset form-step form-step-last">
            <h1>Address</h1>
            <div class="address-box">
                <p>Enter your postcode to see whether VYNZ is available in your area </p>
                <input id="clientPostCode" type="text" placeholder="Postcode" />
                <div class="success-address">
                    <p>VYNZ delivers in your area</p>
                </div>
            </div>
            <%= f.submit "Sign up" %>
            <%= devise_error_messages! %>
        </div>
    <% end %>
</div>