<div class="sign-in-box wrapper">
    <%= form_for(resource,
        as: resource_name,
        :html => {:class => "sign-in-form"},
        url: registration_path(resource_name)) do |f| %>
        <div class="fieldset">
            <h1>Register</h1>
            <%= devise_error_messages! %>
            <div class="row-box">
                <div class="row name-row">
                    <%= f.text_field :first_name, autofocus: true, :placeholder => "First name" %>
                </div>
                <div class="row name-row">
                    <%= f.text_field :last_name, :placeholder => "Last name" %>
                </div>
                <div class="row">
                    <%= f.email_field :email, :placeholder => "Email" %>
                </div>
                <div class="row tel-row">
                    <%= f.text_field :mobile, :placeholder => "Mobile" %>
                </div>
<%
passPlaceholder = "Password"
if @validatable
    passPlaceholder += " (#{@minimum_password_length} characters minimum)"
end
%>
                <br />
                <div class="row password-row">
                    <%=
                    f.password_field :password,
                    autocomplete: "off",
                    :placeholder => passPlaceholder
                    %>
                </div>
                <div class="row password-row">
                    <%=
                    f.password_field :password_confirmation,
                    autocomplete: "off",
                    :placeholder => "Confirm password"
                    %>
                </div>
                <!-- <a href="#" class="btn-next" data-next-step="form-step-last">NEXT</a> -->
            </div>
        </div>
<%
        # <div class="fieldset">
        #     <h1>Address</h1>
        #     <div class="address-box">
        #         <p>Enter your postcode to see whether VYNZ is available in your area</p>
        #         <input id="clientPostCode" type="text" placeholder="Postcode" />
        #         <small id="address_holder"></small>
        #         <div class="address-message"><p></p></div>
        #     </div>
        # </div>
%>
        <%= f.submit "Sign up" %>
    <% end %>
</div>