<%
   def self.get_wine_color(color)
     case color
       when 'Medium Red'
         '#800000'
       when 'Bold Red'
         '#570E15'
       when 'Light Red'
         '#950027'
       when 'Rosé'
         '#C50039'
       when 'Rich White'
         '#EECA56'
       when 'Dry White'
         '#DAD790'
       when 'Sparkling'
         '#F4E292'
       when 'Sweet White'
         '#EABD00'
       when 'Fortified'
         '#6B1F2C'
       else
         '#FFFFFF'
     end
   end

%>

<%
   i = 0
   while i < order.order_items.select { |item| item.user_promotion.blank? }.length do
     item = order.order_items.select { |item| item.user_promotion.blank? }[i]

     food1 = item.food_items[0]
     food2 = item.food_items[1]
     food3 = item.food_items[2]

%>

    <% if i == 0
         welcome = 'You ordered a '
       else
         welcome = 'Your second bottle is a '
       end
    %>
    <div style="margin: 5px 0 15px 0">
    <span style="color:#FFFFFF">
        <%= welcome %> <%= item.category.name + ' wine (£' + '%.2f' % item.category.price_min + '-' + '%.2f' % item.category.price_max + ')' %>
      perfect for your
    </span>
    </div>

    <div style="margin: 5px 0 5px 0">
<span style="color:#FFFFFF;  font-size:27px">
    <% if item.food_items.blank? %>
        <% if item.specific_wine.blank? && !item.occasion.blank? %>
        <%= item.occasion.name %>
        <% else %>
        <%= item.specific_wine %>
        <% end %>
    <% else %>
        <% unless food1.blank? %>
            <%= food1.food.name + (food1.preparation.blank? ? '' : ' (' + food1.preparation.name + ')') %>
        <% end %>
    <% end %>
</span>
    </div>
    <% unless item.type.blank? && food2.blank? %>
        <div style="color:#FFFFFF; padding: 5px 10px 5px 0">
          <span style="font-size:14px;">with</span>
        </div>
    <% end %>

    <%

       if !item.occasion.blank? && !item.type.blank?
         color = get_wine_color(item.type.name)
       else
         color = get_wine_color('')
       end

       unless item.type.blank? && food2.blank? %>
        <div style="margin: 5px 0 5px 0">
    <span style="color:<%= color %>; font-size:27px; line-height:20.7999992370605px; text-align:center">
      <% if food2.blank? %>
        <%= item.type.name %>
      <% else %>
        <%= food2.food.name + (food2.preparation.blank? ? '' : ' (' + food2.preparation.name + ')') %>
      <% end %>

    </span>
        </div>
        <% unless food3.blank? %>
            <div style="padding: 5px 10px 5px 0">
              <span style="color:#FFFFFF; font-size:14px">with</span>
            </div>

        <% end %>
    <% end %>

    <% unless food3.blank? %>
        <div style="margin: 5px 0 5px 0">
        <span style="color:#FFFFFF; font-size:27px">
      <%= food3.food.name + (food3.preparation.blank? ? '' : ' (' + food3.preparation.name + ')') %>
        </span>
        </div>
    <% end %>
    <% if i == 0 %>
        <br/>
        <br/>
    <% end %>
<%
   i += 1
   end
%>

<% unless order.order_items.select { |item| !item.user_promotion.blank? }.blank?
     promo_item = order.order_items.select { |item| !item.user_promotion.blank? }.first
%>
    <% unless promo_item.blank? || !promo_item.user_promotion.promotion_code.promotion.extra_bottle %>
        <div style="margin: 15px 0 15px 0">
            <span style="color:#FFFFFF; font-size:27px">
                Promotion: Extra promotional bottle will be added to your order!
            </span>
        </div>
    <% end %>

<% end %>

<% unless order.delivery_price.blank? %>
    <div>
      <span style="color:#FFFFFF"> Delivery fee: £<%= '%.2f' % order.delivery_price %> </span>
    </div>
<% end %>
