<h1>Listing maturations</h1>

<table>
  <thead>
    <tr>
      <th>Bottling</th>
      <th>Period</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maturations.each do |maturation| %>
      <tr>
        <td><%= maturation.bottling.name %></td>
        <td><%= maturation.period %></td>
        <td><%= link_to 'Show', maturation %></td>
        <td><%= link_to 'Edit', edit_maturation_path(maturation) %></td>
        <td><%= link_to 'Destroy', maturation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New maturation', new_maturation_path %>
