<%= form_for([:admin, @promotion, @promotion_code  ]) do |f| %>

    <div class="form-group">
      Promotion: <%= @promotion.title %>
    </div>


    <div class="form-group">
      <%= f.label :category %>
      <%=
          f.select :category, PromotionCode.categories.keys.to_a, {}, :class => 'form-control'
      %>
    </div>

    <div class="form-group">
      <%= f.label :code %><br>
      <%= f.text_field :code, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :active %>
      <%= f.check_box :active %>
    </div>

    <div class="form-group">
      <%= f.label :expiration_date %> (leave blank for no expiration)
      <%= f.date_select :expiration_date, :include_blank => true %>
    </div>

    <div class="form-group">
      <%= f.label :redeem_count_limit %> (set to 0 for no limit)
      <%= f.number_field :redeem_count_limit, step: 1, :class => 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit(:class => 'btn btn-success') %>
    </div>
<% end %>
