<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Vyne Promotion Codes for <%= @promotion.title %></h3>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>Code</th>
      <th>Active</th>
      <th>Expiration Date</th>
      <th>Redeem Count Limit</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% unless @vyne_codes.blank? %>
        <% @vyne_codes.each do |code| %>
            <tr>
              <td><%= code.id %></td>
              <td><%= code.code %></td>
              <td><%= code.active %></td>
              <td><%= code.expiration_date.blank? ? "Doesn't expire" : code.expiration_date %></td>
              <td><%= code.redeem_count_limit == 0 ? 'No limit' : code.redeem_count_limit %></td>
              <td class="button-wrapper">
                <%= link_to admin_promotion_promotion_code_path(params[:promotion_id],code), class: 'btn btn-default' do %>
                    <i class="glyphicon glyphicon-search"></i>
                <% end %>
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-4">
          <%= link_to admin_promotion_path(params[:promotion_id]), class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back To Promotion
          <% end %>
          <%= link_to 'New Promo Code', new_admin_promotion_promotion_code_path, :class => 'btn btn-primary' %>
        </div>
      </div>
    </li>
  </ul>
</div>



