

<h1>Inventory</h1>
<table border="1" class="list-table">
  <thead>
    <tr>
      <th>Warehouse</th>
      <th>Wine</th>
      <th>Category</th>
      <th>Cost</th>
      <th>Quantity</th>
      <th>Vendor Sku</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.warehouse.title %></td>
        <td><%= inventory.wine.name %></td>
        <td><%= if inventory.category.nil? then ' - ' else inventory.category.name end %></td>
        <td><%= inventory.cost %></td>
        <td><%= inventory.quantity %></td>
        <td><%= inventory.vendor_sku %></td>

        <td class="button-wrapper">
          <%= link_to admin_inventory_path(inventory) do %>
            <i class="flaticon stroke zoom-1"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to edit_admin_inventory_path(inventory) do %>
            <i class="flaticon stroke pencil-2"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to admin_inventory_path(inventory), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="flaticon stroke trash-2"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory Item', new_admin_inventory_path %>
