<p id="notice"><%= notice %></p>

<p>
  <strong>Warehouse:</strong>
  <%= @inventory.warehouse.title %>
</p>

<p>
  <strong>Wine:</strong>
  <%= @inventory.wine.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inventory.quantity %>
</p>

<%= link_to 'Edit', edit_admin_inventory_path(@inventory) %>
<%= link_to 'Back', admin_inventories_path %>
