<h1>Listing maturation_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maturation_types.each do |maturation_type| %>
      <tr>
        <td><%= maturation_type.name %></td>
        <td><%= link_to 'Show', maturation_type %></td>
        <td><%= link_to 'Edit', edit_maturation_type_path(maturation_type) %></td>
        <td><%= link_to 'Destroy', maturation_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maturation type', new_maturation_type_path %>
