<%= render :partial => "layouts/winemenu" %>

<h1>Listing Maturations</h1>
<%= link_to 'Upload', controller: 'maturations', action: 'upload' %><br/><br/><br/>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Bottling</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maturations.each do |maturation| %>
      <tr>
        <td><%= maturation.id %></td>
        <td><%= maturation.description %></td>
        <td><%= maturation.bottling.blank? ? '' :  maturation.bottling.name %></td>

        <td class="button-wrapper">
          <%= link_to admin_maturation_path(maturation) do %>
            <i class="flaticon stroke zoom-1"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to edit_admin_maturation_path(maturation) do %>
            <i class="flaticon stroke pencil-2"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to admin_maturation_path(maturation), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="flaticon stroke trash-2"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New maturation', new_admin_maturation_path %>
