<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @maturation.description %>
</p>

<p>
  <strong>Bottling:</strong>
  <%= @maturation.bottling.blank? ? '' : @maturation.bottling.name %>
</p>



<%= link_to 'Edit', edit_admin_maturation_path(@maturation) %>
<%= link_to 'Back', admin_maturations_path %>
