<p id="notice"><%= notice %></p>

<p>
  <strong>Maturation type:</strong>
  <%= @maturation.bottling.name %>
</p>

<p>
  <strong>Period:</strong>
  <%= @maturation.period %>
</p>

<%= link_to 'Edit', edit_admin_maturation_path(@maturation) %> |
<%= link_to 'Back', admin_maturations_path %>
