<div class="panel-body">
  <div class="tab-content">
    <div class="tab-pane active">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Id</th>
          <th>Client Preferences</th>
          <th>Advise</th>
          <th>Created</th>
        </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
            <% rowspan = order.order_items.length %>
            <% order.order_items.each_with_index do |order_item, index| %>
                <tr>
                  <% if rowspan == 2 && index == 0 %>
                      <td rowspan="2">
                        <%= link_to admin_order_path(order) do %>
                            <i class="flaticon stroke zoom-1"></i>
                        <% end %>
                      </td>
                  <% elsif index == 0 %>
                      <td>
                        <%= link_to admin_order_path(order) do %>
                            <i class="flaticon stroke zoom-1"></i>
                        <% end %>
                      </td>
                  <% end %>

                  <% if rowspan == 2 && index == 0 %>
                      <td rowspan="2"><%= order.id %></td>
                  <% elsif index == 0 %>
                      <td><%= order.id %></td>
                  <% end %>

                  <td><%= order_item.preferences.to_sentence(last_word_connector: ' and ').capitalize %>.</td>
                  <td>
                    <% if order.can_be_advised %>
                        <a href="/admin/advise/item/<%= order_item.id %>" class="btn btn-default">
                          <span class="glyphicon glyphicon-glass" aria-hidden="true"></span> <%= order_item.wine.nil? ? 'Advise' : 'Advised' %>
                        </a>
                    <% else %>
                        complete
                    <% end %>
                  </td>

                  <% if rowspan == 2 && index == 0 %>
                      <td rowspan="2"><%= local_time(order.created_at, '%b %d, %Y %l:%M %p') %></td>
                  <% elsif index == 0 %>
                      <td><%= local_time(order.created_at, '%b %d, %Y %l:%M %p') %></td>
                  <% end %>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>