<div class="panel-body">
  <div class="tab-content">
    <div class="tab-pane active">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Id</th>
          <th>Client Wine Preferences</th>
          <th>Created</th>
        </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
            <tr>
              <td>
                <%= link_to admin_order_path(order), class: 'btn btn-default' do %>
                    <i class="flaticon stroke zoom-1"></i>
                <% end %>
              </td>
              <td><%= order.id %></td>

              <td>
                <% order.order_items.sort_by { |item| item.id }.each_with_index do |order_item, index| %>
                    <div class="row" style="padding: 5px">
                      <div class="col-xs-12">
                        <% if order.can_be_advised %>
                            <a href="/admin/advise/item/<%= order_item.id %>" class="btn <%= order_item.substitution_status == 'requested' ? 'btn-warning' : 'btn-default' %>">
                              <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
                              <% if order_item.wine.nil? %>
                                  Advise
                              <% elsif order_item.substitution_status == 'requested' %>
                                  Substitution Requested
                              <% else %>
                                  Advised
                              <% end %>
                            </a>
                        <% else %>
                            complete
                        <% end %>
                        <%= order_item.preferences.blank? ? '' : order_item.preferences.to_sentence(last_word_connector: ' and ').capitalize + '. ' %>
                        <%= order_item.user_promotion.blank? ? '' : 'Promotion: ' + order_item.user_promotion.promotion_code.promotion.title.capitalize + '.' %>
                      </div>
                    </div>

              <% end %>
              </td>
              <td><%= local_time(order.created_at, '%b %d, %Y %l:%M %p') %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>