<div class="row">
  <div class="col-md-12">
    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li
          <% if params[:status].blank? || params[:status] == Status.statuses[:pending].to_s %> class="active"
          <% end %> >
            <a href="<%= admin_orders_path(:status => Status.statuses[:pending]) %>">
              Pending <span id="badge-pending" class="label label-success label-as-badge"
                            style="display: <%= @actionable_order_counts[:pending] == 0 ? 'none' : 'inline' %>;"><%= @actionable_order_counts[:pending] %></span>
            </a>
          </li>
          <li
          <% if params[:status] == Status.statuses[:advised].to_s %> class="active"
          <% end %>>
            <a href="<%= admin_orders_path(:status => Status.statuses[:advised]) %>">
              Advised <span id="badge-advised" class="label label-default label-as-badge"
                            style="display: <%= @actionable_order_counts[:advised] == 0 ? 'none' : 'inline' %>;"><%= @actionable_order_counts[:advised] %></span>
            </a>
          </li>
          <li
          <% if params[:status] == Status.statuses[:packing].to_s %> class="active"
          <% end %>>
            <a href="<%= admin_orders_path(:status => Status.statuses[:packing]) %>">
              Packing <span id="badge-packing" class="label label-success label-as-badge"
                            style="display: <%= @actionable_order_counts[:packing] == 0 ? 'none' : 'inline' %>;"><%= @actionable_order_counts[:packing] %></span>
            </a>
          </li>
          <li
          <% if params[:status] == Status.statuses[:pickup].to_s %> class="active"
          <% end %> >
            <a href="<%= admin_orders_path(:status => Status.statuses[:pickup]) %>">
              Pickup <span id="badge-pickup" class="label label-default label-as-badge"
                           style="display: <%= @actionable_order_counts[:pickup] == 0 ? 'none' : 'inline' %>;"><%= @actionable_order_counts[:pickup] %></span>
            </a>
          </li>
          <li
          <% if params[:status] == Status.statuses[:in_transit].to_s %> class="active"
          <% end %>>
            <a href="<%= admin_orders_path(:status => Status.statuses[:in_transit]) %>">
              Transit <span id="badge-in-transit" class="label label-default label-as-badge"
                            style="display: <%= @actionable_order_counts[:in_transit] == 0 ? 'none' : 'inline' %>;"><%= @actionable_order_counts[:in_transit] %></span>
            </a>
          </li>
          <li
          <% if params[:status] == Status.statuses[:delivered].to_s %> class="active"
          <% end %>>
            <%= link_to 'Delivered', admin_orders_path(:status => Status.statuses[:delivered]) %>
          </li>
          <li
          <% if params[:status] == Status.statuses[:cancelled].to_s %> class="active"
          <% end %>>
            <a href="<%= admin_orders_path(:status => Status.statuses[:cancelled]) %>">
              Cancelled <span id="badge-cancelled" class="label label-warning label-as-badge"
                              style="display: <%= @actionable_order_counts[:cancel_count] == 0 ? 'none' : 'inline' %>;"><%= @actionable_order_counts[:cancel_count] %></span>
            </a>
          </li>
          <% if user_is_admin %>
              <li
              <% if params[:status] == Status.statuses[:payment_failed].to_s %> class="active"
              <% end %>>
                <a href="<%= admin_orders_path(:status => Status.statuses[:payment_failed]) %>">
                  Payment Failed <span id="badge-payment-failed" class="label label-danger label-as-badge"
                                       style="display: <%= @actionable_order_counts[:payment_failed] == 0 ? 'none' : 'inline' %>;"
                ><%= @actionable_order_counts[:payment_failed] %></span>
                </a>
              </li>
              <li
              <% if params[:status] == Status.statuses[:created].to_s %> class="active"
              <% end %>>
                <%= link_to 'Created', admin_orders_path(:status => Status.statuses[:created]) %>
              </li>
          <% end %>

        </ul>
      </div>
      <% if params[:status].blank? || params[:status] == Status.statuses[:pending].to_s %>
          <%= render 'order.pending' %>
      <% elsif params[:status] == Status.statuses[:packing].to_s %>
          <%= render 'order.packing' %>
      <% else %>
          <div class="panel-body">
            <div class="tab-content">
              <div class="tab-pane active">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Client Preferences</th>
                    <th>Advise</th>
                    <th>Wine</th>
                    <th>Created</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @orders.each do |order| %>
                      <% rowspan = order.order_items.length %>
                      <% order.order_items.each_with_index do |order_item, index| %>
                          <tr>
                            <% if rowspan == 2 && index == 0 %>
                                <td rowspan="2">
                                  <%= link_to admin_order_path(order), class: 'btn btn-default' do %>
                                      <i class="flaticon stroke zoom-1"></i>
                                  <% end %>
                                </td>
                            <% elsif index == 0 %>
                                <td>
                                  <%= link_to admin_order_path(order), class: 'btn btn-default' do %>
                                      <i class="flaticon stroke zoom-1"></i>
                                  <% end %>
                                </td>
                            <% end %>

                            <% if rowspan == 2 && index == 0 %>
                                <td rowspan="2"><%= order.id %></td>
                            <% elsif index == 0 %>
                                <td><%= order.id %></td>
                            <% end %>

                            <td><%= order_item.preferences.to_sentence(last_word_connector: ' and ').capitalize %>.</td>
                            <td>
                              <% if order.can_be_advised %>
                                  <a href="/admin/advise/item/<%= order_item.id %>" class="btn btn-default">
                                    <%= order_item.wine.nil? ? 'Advise' : 'Advised' %>
                                  </a>
                              <% else %>
                                  Complete
                              <% end %>

                            </td>

                            <td>
                              <%= order_item.wine.nil? ? 'Not Advised' : order_item.wine.display_name %>
                            </td>

                            <% if rowspan == 2 && index == 0 %>
                                <td rowspan="2"><%= local_time(order.created_at, '%b %d, %Y %l:%M %p') %></td>
                            <% elsif index == 0 %>
                                <td><%= local_time(order.created_at, '%b %d, %Y %l:%M %p') %></td>
                            <% end %>

                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <% if user_is_admin %>
        <%= link_to 'New Order', new_admin_order_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-xs-6 text-right">
    <%= will_paginate @orders, :class => 'vyne_pagination' %>
  </div>
</div>


<script>
    var currentStatus = <%= params[:status].blank? ? 1 : params[:status] %>;
</script>