<div class="row">

  <div
  <% if current_user.has_role?(:admin) || current_user.has_role?(:superadmin) %>
  class="col-md-6"
  <% else %>
  class="col-md-12"
  <% end %>
  >

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Summary</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-3">
              <strong>Order Id: </strong><%= @order.id %>
            </div>
            <div class="col-xs-4">
              <strong>Status:</strong> <%= @order.status.label.capitalize %>
            </div>
            <div class="col-xs-5">
              <strong>Created:</strong> <%= local_time(@order.created_at, '%b %d, %Y %l:%M %p') %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-7">
              <strong>Merchant:</strong> <%= @order.warehouse.title %>, Address: <%= @order.warehouse.address.full %>
            </div>
            <div class="col-xs-5">
              <strong>Advisor:</strong>
              <% if @order.advisor %>
                  <%= @order.advisor.name %>
              <% else %>
                  <span class="to-do"> Not Advised </span>
              <% end %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-6">
              <strong>Delivery:</strong>
              <% if @order.delivery_token.blank? %>
                  <span class="to-do">Courier not scheduled</span>
              <% else %>
                  <%= @order.delivery_token %>
              <% end %>
              <% unless @order.delivery_cost.blank? %>
                  (£<%= @order.delivery_cost %>)
              <% end %>
            </div>
            <div class="col-xs-6">
              <strong>Customer Post Code:</strong>
              <% unless @order.address.blank? %>
                  <%= @order.address.postcode %>
              <% end %>
            </div>
          </div>
        </li>
        <% unless @order.cancellation_note.blank? %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-12">
                  <strong>Cancellation Note:</strong>
                  <%= @order.cancellation_note %>
                </div>
              </div>
            </li>
        <% end %>
        <% unless @order.order_schedule.blank? %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-12">
                  <strong>Delivery Window:</strong>
                  <%= local_time(@order.order_schedule[:from], '%b %d, %Y %l:%M %p') %> -
                  <%= local_time(@order.order_schedule[:to], '%l:%M %p') %>

                  <% unless @order.order_schedule[:schedule_date].blank? %>
                      (Fulfillment at: <%= local_time(@order.order_schedule[:schedule_date], '%b %d, %Y %l:%M %p') %>)
                  <% end %>

                </div>
              </div>
            </li>
        <% end %>

      </ul>
    </div>
  </div>

  <% if user_is_admin %>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Customer Info</h3>
          </div>
          <ul class="list-group">

            <% if @order.client.blank? %>

                <li class="list-group-item">
                  <div class="row">
                    <div class="col-xs-12">
                      <strong>Client Deleted</strong>
                    </div>
                  </div>
                </li>

            <% else %>

                <li class="list-group-item">
                  <div class="row">
                    <div class="col-xs-6">
                      <strong>Name:</strong>
                      <a href="/admin/users/<%= @order.client.id %>"><%= @order.client.name %></a>
                    </div>
                    <div class="col-xs-6">
                      <strong>Mobile:</strong> <%= @order.client.mobile %>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-xs-6">
                      <strong><%= link_to 'Address:', admin_address_url(@order.address) %></strong>
                      <% if @order.address %>
                          <a target="_blank"
                             href="https://www.google.co.uk/maps/place/<%= @order.address.full %>">
                            <%= @order.address.full %>
                          </a>
                      <% end %>
                      <% if @order.address.latitude == '' || @order.address.longitude == '' %>
                          <span class="to-do"> Incomplete address. Lat/Lng missing.</span>
                      <% else %>
                          <br/>lat/lng: <a target="_blank"
                                           href="https://www.google.co.uk/maps/place/<%= @order.address.latitude %>,<%= @order.address.longitude %>">
                      <%= @order.address.latitude %>/<%= @order.address.longitude %>
                    </a>
                      <% end %>
                    </div>
                    <div class="col-xs-6">
                      <strong>Email:</strong> <%= @order.client.email %>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-xs-12">
                      <strong>Payment:</strong>
                      <% if @order.charge_id.blank? %>
                          <% if @order.free %>
                              free
                          <% else %>
                              <span class="to-do">Payment not processed</span>
                          <% end %>
                      <% else %>
                          Stripe Charge Id: <%= @order.charge_id %>
                      <% end %>
                      <% unless @order.refund_id.blank? %>
                          Stripe Refund Id: <%= @order.refund_id %>
                      <% end %>
                    </div>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Order Items</h3>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <% if @order.can_be_advised %>
          <th>Advise</th>
      <% end %>
      <th>Customer Selection</th>
      <th>Quantity</th>
      <th>Category</th>
      <th>Wine</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <% @order.order_items.order(:id).each do |item| %>
        <tr>
          <% if @order.can_be_advised %>
              <td>
                <a href="/admin/advise/item/<%= item.id %>" class="btn <%= item.substitution_status == 'requested' ? 'btn-warning' : 'btn-default' %>">
                  <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
                  <% if item.wine.nil? %>
                      Advise
                  <% elsif item.substitution_status == 'requested' %>
                      Substitution Requested
                  <% else %>
                      Advised
                  <% end %>
                </a>
              </td>
          <% end %>
          <td>
            <%= item.preferences.blank? ? '' : item.preferences.to_sentence(last_word_connector: ' and ').capitalize + '. '%>
            <%= item.user_promotion.blank? ? '' : 'Promotion: ' + item.user_promotion.promotion_code.promotion.title.capitalize + '.' %>
          </td>
          <td>x<%= item.quantity %></td>
          <td>
            <% unless item.category.blank? %>
                <%= item.category.name %> (&pound;<%= '%.2f' % item.category.merchant_price_min %>
                to &pound;<%= '%.2f' % item.category.merchant_price_max %>)
            <% end %>
          </td>
          <td>
            <% if item.wine.blank? %>
                Not Selected
            <% else %>
                Wine: <%= item.wine.display_name %><br/>
                SKU: <%= item.inventory.nil? ? '' : ' - ' + item.inventory.vendor_sku %><br/>
                Note: <%= item.advisory_note.blank? ? 'N/A' : item.advisory_note %>
            <% end %>

          </td>
          <td>
            <% if item.price.blank? %>
                -
            <% else %>
                £<%= '%.2f' % item.final_price %>
                <% if item.final_price != item.price %>
                    (£<%= '%.2f' % item.price %>)
                <% end %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6">
        <%= link_to :back, class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
        <% end %>

        <% if @order.advisory_complete && @order.status_id == Status.statuses[:pending] %>
            <%= link_to 'Finished Advice', admin_order_finished_advice_path(@order), {
                                                 :class => 'btn btn-success',
                                                 :method => :post
                                         } %>
        <% end %>
      </div>
      <div class="col-xs-6 text-right">
        <% unless @order.delivery_price.blank? %>
            Delivery Price £<%= '%.2f' % @order.delivery_price %>
        <% end %>
        <% unless @order.total_price.nil? %>
            <strong>Customer Price Total:</strong> £<%= '%.2f' % @order.total_price %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if current_user.has_role?(:admin) || current_user.has_role?(:superadmin) %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Admin Only</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-12">

              <%= link_to 'Edit', edit_admin_order_path(@order), :class => 'btn btn-primary' %>
              <% if @order.charge_id.blank? %>
                  <%= link_to 'Charge Only', admin_order_charge_path(@order), {
                                                   :class => 'btn btn-primary',
                                                   :method => :post,
                                                   :data => {:confirm => 'Are you sure? This customer will be charged £' + @order.total_price.to_s}
                                           } %>

              <% end %>

              <% if @order.status_id != Status.statuses[:cancelled] %>
                  <% if [Status.statuses[:advised], Status.statuses[:packing], Status.statuses[:pickup]].include?(@order.status.id) %>
                      <%= link_to 'Schedule Shutl', admin_advise_choose_path(:order => @order.id), {:class => 'btn btn-primary'} %>
                      <%= link_to 'Schedule G-Coordinate', admin_order_schedule_google_coordinate_path(@order), {
                                                                 :method => :post,
                                                                 :class => 'btn btn-primary'
                                                         } %>
                  <% end %>
              <% end %>

              <% if [Status.statuses[:advised], Status.statuses[:packing], Status.statuses[:pickup], Status.statuses[:in_transit], Status.statuses[:delivered]].include?(@order.status.id) %>
                  <%= link_to 'Re-Send Order Receipt', admin_order_send_receipt_path(@order), {
                                                             :class => 'btn btn-primary',
                                                             :method => :post,
                                                             :data => {:confirm => 'This will re-send order receipt to the client.'}
                                                     } %>
              <% end %>

              <% if @order.status_id != Status.statuses[:cancelled] %>
                  <%= link_to 'Cancel Order', admin_order_cancel_path(@order), method: :post, data: {confirm: 'Are you sure? Payments will be refunded and Shutl will get cancelled.'}, :class => 'btn btn-warning' %>
              <% end %>

            </div>
          </div>
        </li>
        <% unless @order.delivery_token.blank? %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-6">
                  <strong>Delivery Information</strong>
                </div>
                <div class="col-xs-6 text-right">
                  <% unless @order.delivery_cost.nil? %>
                      Delivery Cost: £<%= '%.2f' % @order.delivery_cost %>)
                  <% end %>
                  <a href="#" id="refresh-delivery" class="btn btn-primary" data-id="<%= @order.id %>">Refresh</a>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-12">
                  <% if !@order.delivery_status.nil? %>
                      <div id="delivery-info" style="white-space: pre; font-family: monospace;"></div>
                      <script>
                          <% delivery_info = @order.delivery_status
                          unless delivery_info.blank? || delivery_info['booking'].blank? ||  delivery_info['booking']['carrier_name'].blank?
                            delivery_info['booking']['carrier_name'] = h(delivery_info['booking']['carrier_name'])
                          end

                          %>
                          var deliveryInfo = JSON.parse('<%= delivery_info.to_json.html_safe %>');
                          $('#delivery-info').text(JSON.stringify(deliveryInfo, null, 4));
                      </script>
                  <% end %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-12">
                  <strong>Courier Information</strong>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-12">
                  <% unless @order.delivery_courier.blank? %>
                      <div id="delivery-courier" style="white-space: pre; font-family: monospace;"></div>
                      <script>
                          var deliveryCourier = JSON.parse('<%= @order.delivery_courier.to_json.html_safe %>');
                          $('#delivery-courier').text(JSON.stringify(deliveryCourier, null, 4));
                      </script>
                  <% end %>
                </div>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>
