<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @order.status.label %>
</p>

<p>
  <strong>Client:</strong> Name: <%= @order.client.name %>, <strong>Mobile:</strong> <%= @order.client.mobile %>
</p>

<p>
  <strong>Address:</strong>
  <% if @order.address %>
  <%= @order.address.full %>
  <% end %>
</p>

<p>
  <strong>Warehouse:</strong>
  <% if @order.warehouse %>
  <%= @order.warehouse_id == 0 ? " - " : @order.warehouse.title %>
  <% else %>
  Not Selected
  <% end %>
</p>

<p>
  <strong>Advisor:</strong>
  <% if @order.advisor %>
  <%= @order.advisor_id == 0 ? " - " : @order.advisor.name %>
  <% else %>
  Not Advised
  <% end %>
</p>

<p>
  <strong>Delivery token:</strong>
  <% if @order.delivery_token %>
      <%= @order.delivery_token %>
  <% else %>
      Delivery not scheduled
  <% end %>
</p>

<p>
  <strong>Warehouses close to client:</strong>

  <ul>
    <% @warehouses.each do |warehouse| %>
        <li>
          Id: <%= warehouse.id %>, Name: <%= warehouse.title %>, Address: <%= warehouse.address.full %>
        </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Order Items:</strong>
<table border="1" class="list-table">
  <thead>
  <tr>
    <th>Advise</th>
    <th>Customer Selection</th>
    <th>Quantity</th>
    <th>Category</th>
    <th>Wine</th>
    <th>Cost</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <% @order.order_items.order(:id).each do |item| %>
      <tr>
        <td>
          <a href="/admin/advise/item/<%= item.id %>">
          <%= item.wine.nil? ? 'Advise' : 'Advised' %></a></td>
        <td>
          <% unless item.foods.blank? %>
              <p><strong>Food</strong></p>
              <ul>
                <% item.foods.each do |food| %>
                    <li><%= food.name %> </li>
                <% end %>
              </ul>
          <% end %>
          <% unless item.occasion.blank? %>
              <p><strong>Occasion</strong></p>
              <p><%= item.occasion.name %></p>
          <% end %>

          <% unless item.type.blank? %>
              <p><strong>Wine Type</strong></p>
              <p><%= item.type.name %></p>
          <% end %>

          <% unless item.specific_wine.blank? %>
              <p><strong>Specific Wine</strong></p>
              <p><%= item.specific_wine %></p>
          <% end %>
        </td>
        <td><%= item.quantity %></td>
        <td><%= item.category.name %></td>
        <td>
          <%= item.wine.nil? ? 'Not Selected' : item.wine.name %>
        </td>
        <td>
           £<%= item.cost %>
        </td>
        <td>
          £<%= item.price %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td>
        <% if !(@order.order_items.map { |item| item.wine}).include?(nil) %>
            <form action="/admin/advise/choose" method="post">
              <input type="hidden" name="order" value="<%= @order.id %>"/>
              <input type="hidden" id="warehouse-id" name="warehouse-id"/>
              <%= hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token) %>
              <input type="submit" value="Schedule Delivery" class="buttonStyle" />
            </form>
        <% end %>
      </td>
      <td>
        <% unless @order.total_cost.nil? %>
            <strong>Cost Total:</strong> £<%= @order.total_cost %>
        <% end %>
      </td>
      <td>
        <% unless @order.total_price.nil? %>
            <strong>Price Total:</strong> £<%= @order.total_price %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

</p>


<% if !@order.delivery_status.nil? %>

    <p>
      <strong>Delivery information: <a href="#" id="refresh-delivery" data-id="<%= @order.id %>">Refresh</a></strong>
    <pre id="delivery-status"><%= @order.delivery_status_json
             .gsub(/["|\\]/, "")
             .gsub(/[ ]*\{/, "\{<br /> ")
             .gsub(/\[/, "\[<br /> ")
             .gsub(/\}/, "<br />\}")
             .gsub(/\]/, "<br />\]")
             .gsub(/\,/, ",<br />")
             .html_safe
             # gsub(/["|\\]/, "").gsub(/[\{]/, "\{<br />").gsub(/[\,]/, ",<br />").html_safe
    %></pre>
    </p>
<% end %>


<%= link_to 'Edit', edit_admin_order_path(@order) %>
<%= link_to 'Back', admin_orders_path %>
