<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @order.status.label %>
</p>

<p>
  <strong>Client:</strong>
  <%= @order.client.name %>
</p>

<p>
  <strong>Address:</strong>
  <% if @order.address %>
  <%= @order.address.full %>
  <% end %>
</p>

<p>
  <strong>Warehouse:</strong>
  <% if @order.warehouse %>
  <%= @order.warehouse_id == 0 ? " - " : @order.warehouse.title %>
  <% end %>
</p>

<p>
  <strong>Advisor:</strong>
  <% if @order.advisor %>
  <%= @order.advisor_id == 0 ? " - " : @order.advisor.name %>
  <% end %>
</p>

<p>
  <strong>Delivery token:</strong>
  <%= @order.delivery_token %>
</p>

<p>
  <strong>Information provided by user:</strong>
  <pre><%= @order.information %></pre>
</p>

<p>
  <strong>Details</strong>
<table border="1" class="list-table">
  <thead>
  <tr>
    <th>Advise</th>
    <th>Food</th>
    <th>Occasion</th>
    <th>Specific Wine</th>
    <th>Quantity</th>
    <th>Category</th>
    <th>Wine</th>
  </tr>
  </thead>
  <tbody>
  <% @order.order_items.each do |item| %>
      <tr>
        <td>
          <a href="/admin/advise/item/<%= item.id %>">Advise</a>
          <%= item.wine.nil? ? 'Advise' : 'Advised' %></td>
        <td><%= item.foods.to_json %></td>
        <td><%= item.occasion.nil? ? '' : item.occasion.name %></td>
        <td><%= item.specific_wine.nil? ? '' : item.specific_wine %></td>
        <td><%= item.quantity %></td>
        <td><%= item.category.name %></td>
        <td><%= item.wine.nil? ? '' : item.wine.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>

<p>
  <strong>Delivery information:</strong>
  <pre><%= @order.delivery_status_json
    .gsub(/["|\\]/, "")
    .gsub(/[ ]*\{/, "\{<br /> ")
    .gsub(/\[/, "\[<br /> ")
    .gsub(/\}/, "<br />\}")
    .gsub(/\]/, "<br />\]")
    .gsub(/\,/, ",<br />")
    .html_safe
    # gsub(/["|\\]/, "").gsub(/[\{]/, "\{<br />").gsub(/[\,]/, ",<br />").html_safe
      %></pre>
</p>

<%= link_to 'Edit', edit_admin_order_path(@order) %>
<%= link_to 'Back', admin_orders_path %>
