<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @order.status.label %>
</p>

<p>
  <strong>Client:</strong>
  <%= @order.client.name %>
</p>

<p>
  <strong>Address:</strong>
  <% if @order.address %>
  <%= @order.address.full %>
  <% end %>
</p>

<p>
  <strong>Warehouse:</strong>
  <% if @order.warehouse %>
  <%= @order.warehouse_id == 0 ? " - " : @order.warehouse.title %>
  <% else %>
  Not Selected
  <% end %>
</p>

<p>
  <strong>Advisor:</strong>
  <% if @order.advisor %>
  <%= @order.advisor_id == 0 ? " - " : @order.advisor.name %>
  <% else %>
  Not Advised
  <% end %>
</p>

<p>
  <strong>Delivery token:</strong>
  <% if @order.delivery_token %>
      <%= @order.delivery_token %>
  <% else %>
      Delivery not scheduled
  <% end %>
</p>

<p>
  <strong>Warehouses close to client:</strong>

  <ul>
    <% @warehouses.each do |warehouse| %>
        <li>
          <%= warehouse.title + ' - ' + warehouse.address.full %>
        </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Order Items</strong>
<table border="1" class="list-table">
  <thead>
  <tr>
    <th>Advise</th>
    <th>Customer Selection</th>
    <th>Quantity</th>
    <th>Category</th>
    <th>Wine</th>
    <th>Cost</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <% @order.order_items.each do |item| %>
      <tr>
        <td>
          <a href="/admin/advise/item/<%= item.id %>">
          <%= item.wine.nil? ? 'Advise' : 'Advised' %></a></td>
        <td>
          <% if item.foods %>
              <p><strong>Food</strong></p>
              <ul>
                <% item.foods.each do |food| %>
                    <li><%= food.name %> </li>
                <% end %>
              </ul>
          <% end %>
          <% if item.occasion %>
              <p><strong>Occasion</strong></p>
              <p><%= item.occasion.name %></p>
          <% end %>

          <% if item.type %>
              <p><strong>Wine Type</strong></p>
              <p><%= item.type.name %></p>
          <% end %>

          <% if item.specific_wine %>
              <p><strong>Specific Wine</strong></p>
              <p><%= item.specific_wine %></p>
          <% end %>
        </td>
        <td><%= item.quantity %></td>
        <td><%= item.category.name %></td>
        <td>
          <%= item.wine.nil? ? 'Not Selected' : item.wine.name %>
        </td>
        <td>
           £<%= item.cost %>
        </td>
        <td>
          £<%= item.price %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<% if !(@order.order_items.map { |item| item.cost}).include?(nil) %>
    <strong>Cost Total:</strong> <%= (@order.order_items.map { |item| item.cost}).inject(:+) %>
<% end %>
<% if !(@order.order_items.map { |item| item.price}).include?(nil) %>
    <strong>Price Total:</strong> <%= (@order.order_items.map { |item| item.price}).inject(:+) %>
<% end %>
</p>

<p>
  <strong>Delivery information:</strong>
  <pre><%= @order.delivery_status_json
    .gsub(/["|\\]/, "")
    .gsub(/[ ]*\{/, "\{<br /> ")
    .gsub(/\[/, "\[<br /> ")
    .gsub(/\}/, "<br />\}")
    .gsub(/\]/, "<br />\]")
    .gsub(/\,/, ",<br />")
    .html_safe
    # gsub(/["|\\]/, "").gsub(/[\{]/, "\{<br />").gsub(/[\,]/, ",<br />").html_safe
      %></pre>
</p>

<%= link_to 'Edit', edit_admin_order_path(@order) %>
<%= link_to 'Back', admin_orders_path %>
