<h1>Listing users</h1>


<% @roles.each do |role| %>
  <h2><%= role.name.capitalize %> users</h2>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>E-mail</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% role.users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td class="button-wrapper">
            <%= link_to user do %>
              <i class="flaticon stroke zoom-1"></i>
            <% end %>
          </td>
          <td class="button-wrapper">
            <%= link_to edit_user_path(user) do %>
              <i class="flaticon stroke pencil-2"></i>
            <% end %>
          </td>
          <td class="button-wrapper">
            <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="flaticon stroke trash-2"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr />
<% end %>


<br>

<%= link_to 'New User', new_user_path %>
