<h1>Listing grapenames</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grapenames.each do |grapename| %>
      <tr>
        <td><%= grapename.name %></td>
        <td class="button-wrapper">
          <%= link_to grapename do %>
            <i class="flaticon stroke zoom-1"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to edit_grapename_path(grapename) do %>
            <i class="flaticon stroke pencil-2"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to grapename, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="flaticon stroke trash-2"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grapename', new_grapename_path %>
