<h1>Listing grapenames</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grapenames.each do |grapename| %>
      <tr>
        <td><%= grapename.name %></td>
        <td><%= link_to 'Show', grapename %></td>
        <td><%= link_to 'Edit', edit_grapename_path(grapename) %></td>
        <td><%= link_to 'Destroy', grapename, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grapename', new_grapename_path %>
