<div class="wrapper" style="margin-top: 60px">
  <p>Your previous wines</p>
  <% @orders.each do |order| %>
      <div>
        <div style="font-size: 1.4rem;"><a href="/orders/<%= order.id %>">Id: <%= order.id %>
          - <%= order.created_at.strftime("%Y %b %d, %H:%M") %></a>
          <div>Status: <%= order.status.label %></div>
          <% unless order.order_items.blank? %>
              <div>Preferences:</div>
              <% order.order_items.each_with_index do |item, index| %>
                  <% unless item.preferences.blank? %>
                      <div>Bottle <%= index + 1 %> - <%= item.preferences.to_sentence({:last_word_connector => ' and '}) %></div>
                  <% end %>
              <% end %>
          <% end %>

        </div>

      </div>
      <hr style=" border: none; height: 1px; background-color: #626262;"/>
  <% end %>
</div>
