<%= form_for(@order, url: create_path(@order), :html => {:id => 'order-form'}) do |f| %>

  <%# =============================== Errors  =============================== %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="order" class="swiper-container">

    <div class="swiper-wrapper">
    <div class="swiper-overlay"></div>

      <input type="hidden" id="warehouse_id" name="warehouse_id"  value="<%= params[:warehouse_id] %>"/>
      <input type="hidden" id="slot_date" name="slot_date" value="<%= params[:slot_date] %>"/>
      <input type="hidden" id="slot_from" name="slot_from" value="<%= params[:slot_from] %>"/>
      <input type="hidden" id="slot_to" name="slot_to" value="<%= params[:slot_to] %>"/>
      <input type="hidden" id="filterPostcode" name="filterPostcode" value="<%= params[:postcode] %>"/>
      <input type="hidden" id="promotion" name="promotion" value="<%= @promotion %>"/>

    <%# ============================= Select Bottle ============================= %>

    <div id="bottles-panel" class="order-panel swiper-slide noSwipingClass" data-hash="bottles">
      <div class="order-panel-content wrapper wrapper-large">

        <h2 class="title">Select price range</h2>
        <h3 class="subttitle"></h3>

        <ul class="bottle-list cf">

        <% @categories.each do |category| %>
          <li class="bottle">
            <a href="#" class="bottle-link"
               data-category-id="<%= category.id %>"
            >
              <%= image_tag "icons/wine/bottle#{category.price}.png", :alt => "wine bottle" %>
              <span class="label"><%= category.name %></span>
              <span class="description"><%= category.summary %></span>
            </a>

            <div class="bottle-info"
                 data-category-id="<%= category.id %>"
                 data-price-min="<%= category.price_min %>"
                 data-price-max="<%= category.price_max %>"
            >
              <% if category_is_active?(@warehouse, category.id) %>
                  <div class="bottle-info-bg"></div>
                  <div class="bottle-info-content">
                    <div class="close">
                      <div class="line"></div>
                      <div class="line"></div>
                    </div>
                    <%= image_tag "icons/wine/bottle#{category.price}.png", :alt => "wine bottle" %>
                    <span class="label"><%= category.name %></span>
                    <span class="price">£<%= category.price %></span>

                    <span class="description">Entry-level to best wine regions.</span>

                    <div class="full-description">
                      <%= category.description.html_safe %>
                    </div>
                    <a href="" class="btn select-bottle">Choose bottle</a>
                  </div>
              <% else %>
                  <%= image_tag 'select/' + category.name.downcase + '-coming-soon.jpg',
                                :alt => 'House Wine Coming Soon',
                                :class => 'not-in-stock' %>
              <% end %>
            </div>
          </li>
        <% end %>

        </ul>

        <div class="order-summary"></div>
        <!-- Hidden fields -->
        <input type="text" id="category" name="category" class="hidden" />

      </div>
    </div>


    <%# ============================= Preferences ============================= %>

    <div id="preferences-panel" class="step order-panel swiper-slide noSwipingClass" data-hash="preferences">
      <div class="order-panel-content wrapper wrapper-large">
          <a href="" class="back-nav"></a>

        <div id="matching-wine" class="preferences-sub-panel active">

          <h2>How would you like us to match your wine?</h2>

          <ul class="tab-list tab-list__horizontal">
            <li><a href="#with-food">With food</a></li><li><a href="#by-occasion">By occasion</a></li>
          </ul>

          <span class="or">or</span>

          <div class="specific">
            <label for="specifc-wine">Have a specific wine type in mind?</label>
            <input type="" name="specific-wine" placeholder="e.g Chateauneuf-du-Pape" />
            <a href="#" id="specific-wine" class="btn btn__full-width btn__border">Submit wine <span class="arrow">▶</span></a>
            <ul class="errors" id="specific-wine-errors"></ul>
          </div>

        </div>

        <div id="with-food" class="tab preferences-sub-panel">
          <div class="food-limit">You've selected all 3 ingredients. Click icons below to change your selection or proceed to checkout.</div>
          <div class="main-preferences">
            <h3 class="select-category">Select <span id="food-category">a</span> category</h3>
            <div class="prefs-list-container cf">
              <ul id="food-list" class="tab-list prefs-list prefs-list-top cf">
                <% allFood = @foods.clone.to_a %>
                <% allFood.keep_if {|f| f.parent==0} %>
                <% allFood.each do |parentFood| %>
                    <% if parentFood.name != "preparation" %>
                        <li id="food-<%= parentFood.id %>">
                          <a href="#<%= parentFood.name.gsub(/(((\s)&?)\s?)/, "_")%>">
                            <%= image_tag "icons/food/"+parentFood.name.gsub(" & ", "_")+".png", :alt => "image description", :class => "logo" %>
                            <span><%= parentFood.name %></span>
                          </a>
                        </li>
                    <% end %>
                <% end %>
              </ul>
            </div>
          </div>


          <% nallFood = @foods.clone.to_a %>
          <% nallFood.keep_if {|f| f.parent==0} %>
          <% nallFood.each do |parentFood| %>

          <div id="<%= parentFood.name.gsub(/(((\s)&?)\s?)/, "_") %>" class="tab preferences-sub-sub-panel">

            <% if parentFood.id == 4 %>
            <h3>How was it prepared?</h3>
            <% else %>
            <h3>What type of <%= parentFood.name %>?</h3>
            <% end %>
            <div class="prefs-list-container">
              <ul id="<%= parentFood.name %>-list" class="tab-list prefs-list prefs-list-bottom cf">
                <% subFood = @foods.clone.to_a %>
                <% subFood.keep_if {|f| f.parent==parentFood.id} %>
                <% subFood.each do |food| %>
                <li id="food-<%= food.id %>">
                  <a <% if [5,9,11,12,13,14,25,26,27,40,41,45,46].include? food.id %> href="#preparation" <% else %> href="#" <% end %> >
                    <%= image_tag "icons/food/"+food.name.gsub(/(((\s)&?)\s?)/, "_")+".png", :alt => "image description" %>
                    <span><%= food.name %></span>
                  </a>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          <% end %>

              <div id="preparation" class="tab preferences-sub-sub-panel">
                <!--<a href="#" class="back"></a>-->
                <h3>How was it prepared?</h3>
                <div class="prefs-list-container">
                  <ul id="preparation-list" class="tab-list prefs-list prefs-list-bottom cf">
                    <% @preparations.each do |preparation| %>
                    <li id="food-<%= preparation.id %>">
                      <a href="#">
                        <%= image_tag "icons/food/"+preparation.name.gsub(/(((\s)&?)\s?)/, "_")+".png", :alt => "image description" %>
                        <span><%= preparation.name %></span>
                      </a>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>

          <div class="prefs-overview">
            <div class="prefs-overview-content">
              <ul class="prefs-overview-list cf">
                <li class="empty"><a href=""><span>1</span></a></li>
                <li class="empty"><a href=""><span>2</span></a></li>
                <li class="empty"><a href=""><span>3</span></a></li>
              </ul>
              <a href="#" id="select-preferences" class="btn btn__full-width next-slide" style="display: none">Review Order</a>
            </div>
          </div>
        </div>

        <div id="by-occasion" class="tab preferences-sub-panel">
          <div class="occasion-limit"></div>
          <div class="main-preferences">
            <h3>Whats the occasion?</h3>

            <div class="prefs-list-container">
              <ul id="occasion-list" class="prefs-list prefs-list-top tab-list cf">
                <% @occasions.each do |occasion| %>
                    <li id="occasion-<%= occasion.id %>">
                      <a href="#wine-type">
                        <%= image_tag "icons/food/"+occasion.name.gsub(/(((\s)&?)\s?)/, "_").downcase+".png", :alt => "image description" %>
                        <span><%= occasion.name %></span>
                      </a>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>

          <div id="wine-type" class="tab preferences-sub-sub-panel">
            <h3>What type of Wine<br/> would you like?</h3>
            <div class="prefs-list-container">
              <ul id="wine-list" class="prefs-list prefs-list-bottom cf">
                <% @types.each do |type| %>
                    <% if type.id != 9 && type.id != 11 %>
                        <li id="winetype-<%= type.id %>">
                          <a href="">
                            <%= image_tag "icons/wine/"+type.name.gsub(/(((\s)&?)\s?)/, "_").downcase+".png", :alt => "image description" %>
                            <span><%= type.name %></span>
                          </a>
                        </li>
                    <% end %>
                <% end %>
              </ul>
            </div>
          </div>

        </div>

        <div class="order-summary"></div>

        <input type="hidden" name="wines" />

      </div>
    </div>


    <%# =============================== Review =============================== %>

    <div id="review-panel" class="step order-panel swiper-slide noSwipingClass" data-hash="review">
      <div class="order-panel-content wrapper wrapper-large">
        <a href="" class="back-nav"></a>
        <h2>Review order</h2>

        <table class="order-table">
          <tr>
            <th width="80%">Wine</th>
            <th width="20%">Price</th>
          </tr>

          <tr class="no-bottles">
            <td colspan="2">
              <span>No bottles selected</span>
              <a href="" class="btn btn__small add-bottle-link">Add a bottle</a>
            </td>
          </tr>
          <tr class="add-bottle">
            <td colspan="2">
              <a href="" class="btn btn__small add-same-bottle-link" id="add-same-bottle">Add same bottle</a>
              <span class="or">or</span>
              <a href="" class="btn btn__small add-bottle-link another-bottle" id="add-another-bottle">Add another bottle</a>
            </td>
          </tr>
          <tr class="promotion">
            <td colspan="2" class="promotion-area">
              <div class="promotion-heading">
                Promotion:
              </div>

              <div class="promotion-name"></div>
            </td>
          </tr>
          <tr class="total" >
            <td class="delivery-cost" colspan="2">Delivery <span class="disclaimer" id="delivery-disclaimer"></span> £ <span class="price"></span></td>
          </tr>
          <tr class="total" >
            <td class="total-cost" colspan="2">Total <span class="disclaimer">(range)</span> £<span class="price"></span></td>
          </tr>
        </table>

        <div class="btn-checkout">
          <a href="" id="checkout" class="next-slide btn btn__full-width">Finalise Order</a>
        </div>

        <div class="order-summary"></div>
      </div>
      <div style="height: 50px;"></div>
    </div>

    <%# =============================== Sign up =============================== %>

    <% unless user_signed_in? %>

    <div id="register-panel" class="step order-panel swiper-slide noSwipingClass" data-hash="register">
      <div class="order-panel-content wrapper wrapper-large">
        <a href="" class="back-nav"></a>
        <div id="account-form" class="register-form">
          <h2 class="account-heading">Register</h2>
          <span class="account-message">Have an account? <a href="" id="account-link" class="signin-link">Sign in</a></span>
          <ul class="errors" id="sign-in-errors"></ul>
          <div>
            <%= text_field :user, :first_name, :placeholder => 'First Name' %>
            <%= text_field :user, :last_name, :placeholder => 'Last Name' %>
          </div>
          <div>
            <%= email_field :user, :email,
            :autocomplete => "off",
            :placeholder => "Email" %>
          </div>

          <%
          passPlaceholder = "Password"
          if @validatable
          passPlaceholder += " (#{@minimum_password_length} characters minimum)"
          end
          %>
          <div>
              <%=
              password_field :user,
              :password,
              :autocomplete => "off",
              :placeholder => passPlaceholder
              %>
          </div>

          <a href="#" id="delivery-details" class="btn">Delivery details</a>
        </div>
        <div class="order-summary"></div>
      </div>
    </div>

    <% end %>

    <%# ========================== Address selection ========================== %>

    <div id="delivery-panel" class="step order-panel swiper-slide noSwipingClass" data-hash="delivery">
      <div class="order-panel-content wrapper wrapper-large">
        <a href="" class="back-nav"></a>
        <h2>Delivery address</h2>

        <%# - - - - - -- - - - - - - - - -  Option1 - - - - - -- - - - - - - - - -  %>

        <%
        addressOptions = [['New address', -1]]
        # billingAddressOptions = [['Same address', -1],['Custom address', 0]]
        if current_user
          current_user.addresses.order(updated_at: :desc).each do |a|
            addressOptions.push([a.full, a.id])
            # billingAddressOptions.push([a.full, a.id])
          end
        end
        %>
        <%= select_tag "order-address", options_for_select(addressOptions, @order.address_id), :prompt => "Choose Address", :name => "" %>

        <%# - - - - - -- - - - - - - - - -  Option2 - - - - - -- - - - - - - - - -  %>

        <div id="new_delivery_address" style="display:none;">
          <div style="margin-bottom: 10px; text-align: center">
            <span>Your Postcode: <span style="text-transform: uppercase;" id="addr-pc-text"><%= params[:postcode]%></span></span>
          </div>
          <div>
            <select id="suggested-addresses">
              <option value="0">Select your address</option>
            </select>
          </div>
          <div>
          <label for="address_s">Enter address if not present above</label>
          <input id="addr-line-1" name="address_line_1" placeholder="Address Line 1"/>
          <input id="addr-line-2" name="address_line_2" placeholder="Address Line 2"/>
          <input id="addr-company-name" name="address_company_name" placeholder="Company Name"/>
          </div>
          <div>
            <input type="hidden" id="addr-pc" name="address_p" placeholder="Postcode" disabled="disabled"
                   value="<%= params[:postcode] %>"/>
          </div>
          <div><span>Your mobile to ensure fast delivery</span></div>
          <div><input type="text" id="mobile" name="mobile" placeholder="Mobile Number" /></div>

          <div><input type="hidden" disabled="disabled" id="addr-no" name="address_d" placeholder="No"/></div>
        </div>
        <input type="hidden" id="addr-lat" name="address_lat"/>
        <input type="hidden" id="addr-lng" name="address_lng"/>
        <input type="hidden" id="address-id" name="address_id"/>
        <input type="hidden" id="new-address" name="new_address"/>
        <ul class="errors" id="address-errors"></ul>
        <div>
          <!-- Next step -->
          <a href="#" class="btn" id="address-details">use address</a> <!-- Changes class to 'red-button' -->
        </div>
        <div class="order-summary"></div>
      </div>
    </div>

    <%# ========================== Payment ========================== %>

    <div id="payment-panel" class="step order-panel swiper-slide noSwipingClass" data-hash="payment">
      <div class="order-panel-content wrapper wrapper-large">
        <a href="" class="back-nav"></a>
        <h2>Payment Card</h2>
          <%
          paymentCards = [['New payment card', -1]]
          selected_card = -1
          if current_user
            has_saved_cards = false
            current_user.payments.order(updated_at: :desc).each do |a|
              has_saved_cards = true
              # [ :visa, :master, :american, :discover, :diners, :jcb ]
              if selected_card == -1
                selected_card = a.id
              end

              if a.brand == 3 # American Express
                cardNumber = "**** ****** #{a.number}"
              else
                cardNumber = "**** **** **** #{a.number}"
              end
              paymentCards.push([cardNumber, a.id])
            end
          end
          %>

        <% if has_saved_cards
             select_style = 'display: block;'
           else
             select_style = 'display: none;'
           end
        %>
        <%= select_tag "orderCard", options_for_select(paymentCards, selected_card), :name => "", style: select_style %>

        <div id="new_card">
          <div><input type="text" id="pmnm" size="20" placeholder="0000 0000 0000 0000" data-stripe="number" /></div>
          <div><input type="text" id="pmcv" size="4"  placeholder="CVC" data-stripe="cvc" /></div>
          <div><input type="text" id="pmxp" size="5"  placeholder="MM/YY" /></div>
        </div>


        <!-- Hidden fields -->
        <input type="hidden" id="old-card" name="old_card" />
        <input type="hidden" id="new-card" name="new_card" />
        <input type="hidden" id="new-brand" name="new_brand" />
        <input type="hidden" id="expm" data-stripe="exp-month" />
        <input type="hidden" id="expy" data-stripe="exp-year" />
        <input type="hidden" id="stripe-token" name="stripe_token" />
        <ul class="errors" id="payment-errors"></ul>
        <div>
          <%= f.submit "Submit Order", :id => 'submit-order' ,  :class => 'red-button' %>
        </div>
        <div style="text-align: center;margin-top: 20px; ">
          <%= image_tag asset_path('icons/solid-light-stripe.png'), :alt => 'Powered by Stripe' %>
        </div>

        <div class="order-summary"></div>
      </div>

    </div>

  <% end %>

  </div>
</div>


