<%= form_for(@order, url: create_path(@order), :html => {:id => "order-form"}) do |f| %>

  <%# =============================== Errors  =============================== %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="order" class="swiper-container">
    <div class="swiper-wrapper">
    <%= image_tag "order@2x.jpg", :alt => "Order background", :class => "swiper-bg" %>
    <div class="swiper-overlay"></div>


    <%# ============================ Address check ============================ %>

    <div id="postcode-panel" class="order-panel swiper-slide noSwipingClass">
      <div class="order-panel-content wrapper">
        <h2 class="title">Availability</h2>
        <p>We need to check if the wine is available to deliver in your area</p>
        <input type="text" id="filterPostcode" placeholder="Enter postcode" autocomplete="off"/>
        <span id="filterPostcodeMessage" class="message"></span>
        <a href="" id="use-postcode" class="btn next-slide">Choose wine</a>
        <div class="not-available">
          <h3>Not available in your area</h3>
          <p>We're expanding the service throughtout London in the coming weeks.</p>
          <p>As a thank you for waiting, we'll give you a free bottle with your first order, when we we're available in your postcode.</p>
          <input type="email" name="email" placeholder="jon@snow.com" />
          <input type="submit" value="Let me know"/>
        </div>
      </div>

      <!-- Hidden fields -->
      <input type="hidden" id="warehouses" name="warehouses" class="hidden" />

    </div>


    <%# ============================= Select Bottle ============================= %>

    <div id="bottles-panel" class="order-panel swiper-slide noSwipingClass">
      <div class="order-panel-content wrapper wrapper-large">

        <h2>Select your bottle</h2>

        <ul class="bottle-list cf">
      
        <% @categories.each do |category| %>
          <li class="bottle">
            <a href="#" class="bottle-link" data-category-id="<%= category.id %>">
              <%= image_tag "icons/wine/bottle#{category.price}.png", :alt => "wine bottle" %>
              <span class="label"><%= category.name %></span>
              <span class="description"><%= category.summary %></span>
            </a>
            <div class="bottle-info" data-category-id="<%= category.id %>">
              <div class="bottle-info-bg"></div>
              <div class="bottle-info-content">
                <div class="close">
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
                <%= image_tag "icons/wine/bottle#{category.price}.png", :alt => "wine bottle" %>
                <span class="label"><%= category.name %></span>
                <span class="price">£<%= category.price %></span>
                <span class="description">Entry-level to best wine regions.</span>
                <div class="full-description">
                  <%= category.description.html_safe %>
                </div>
                <a href="" class="btn select-bottle">Choose bottle</a>
              </div>
            </div>
          </li>
        <% end %>

        </ul>

        <!-- Hidden fields -->
        <input type="text" id="category" name="category" class="hidden" />

      </div>
    </div>


    <%# ============================= Preferences ============================= %>

    <div id="preferences-panel" class="step order-panel swiper-slide noSwipingClass">
      <div class="order-panel-content wrapper wrapper-large">

        <div id="matching-wine" class="preferences-sub-panel active">

          <h2>How would you like us to match your wine?</h2>

          <ul class="tab-list tab-list__horizontal">
            <li><a href="#with-food">With food</a></li><li><a href="#without-food">By occasion</a></li>
          </ul>

          <span class="or">or</span>

          <div class="specific">
            <label for="specifc-wine">Have a specific wine type in mind?</label>
            <input type="" name="specific-wine" placeholder="e.g Chateauneuf-du-Pape" />
            <a href="#" class="btn btn__full-width next-slide">Submit wine</a>
          </div>

        </div>

        <div id="with-food" class="tab preferences-sub-panel">

          <div class="food-limit"></div>
          <h3 class="select-category">Select a category</h3>
          <div class="prefs-list-container cf">
            <ul id="food-list" class="tab-list prefs-list prefs-list-top cf">
            <% allFood = @foods.clone.to_a %>
            <% allFood.keep_if {|f| f.parent==0} %>
            <% allFood.each do |parentFood| %>
              <% if parentFood.name != "preparation" %>
              <li id="<%= parentFood.id %>">
                <a href="#<%= parentFood.name.gsub(/(((\s)&?)\s?)/, "_")%>">
                  <%= image_tag "icons/food/"+parentFood.name.gsub(" & ", "_")+".png", :alt => "image description", :class => "logo" %>
                  <span><%= parentFood.name %></span>
                </a>
              </li>
              <% end %>
            <% end %>
            </ul>
          </div>

          <% nallFood = @foods.clone.to_a %>
          <% nallFood.keep_if {|f| f.parent==0} %>
          <% nallFood.each do |parentFood| %>

          <div id="<%= parentFood.name.gsub(/(((\s)&?)\s?)/, "_") %>" class="tab preferences-sub-sub-panel">
            <% if parentFood.id == 4 %>
            <h3>How was it prepared?</h3>
            <% else %>
            <h3>What type of <%= parentFood.name %>?</h3>
            <% end %>
            <div class="prefs-list-container">
              <ul id="<%= parentFood.name %>-list" class="tab-list prefs-list prefs-list-bottom cf">
                <% subFood = @foods.clone.to_a %>
                <% subFood.keep_if {|f| f.parent==parentFood.id} %>
                <% subFood.each do |food| %>
                <li id="<%= food.id %>">
                  <% if [5,9,11,12,13,14,25,26,27,40,41].include? food.id %>
                  <a href="#preparation">
                  <% else %>
                  <a href="#">
                  <% end %>
                    <%= image_tag "icons/food/"+food.name.gsub(/(((\s)&?)\s?)/, "_")+".png", :alt => "image description" %>
                    <span><%= food.name %></span>
                  </a>
                </li>
                <% end %>
              </ul>
            </div>
          </div>

          <% end %>

        </div>

        <div id="without-food" class="tab preferences-sub-panel">
          <div class="occasion-limit"></div>
          <h3>Whats the occasion?</h3>
          <div class="prefs-list-container">
            <ul id="occasion-list" class="prefs-list prefs-list-top tab-list cf">
              <% @occasions.each do |occasion| %>
              <li id="occasion-<%= occasion.id %>">
                <a href="#wine-type">
                  <%= image_tag "icons/food/"+occasion.name.gsub(/(((\s)&?)\s?)/, "_").downcase+".png", :alt => "image description" %>
                  <span><%= occasion.name %></span>
                </a>
              </li>
              <% end %>
            </ul>

            <div id="wine-type" class="tab preferences-sub-sub-panel">
              <h3>2. What type of Wine would you like?</h3>
              <div class="prefs-list-container">
                <ul id="wine-list" class="prefs-list prefs-list-bottom cf">
                  <% @types.each do |type| %>
                  <li id="winetype-<%= type.id %>">
                    <a href="">
                      <%= image_tag "icons/wine/"+type.name.gsub(/(((\s)&?)\s?)/, "_").downcase+".png", :alt => "image description" %>
                      <span><%= type.name %></span>
                    </a>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>

          </div>

        </div>

        <div class="prefs-overview">
          <div class="prefs-overview-content wrapper wrapper-large">
            <ul class="prefs-overview-list cf">
              <li class="empty"><a href=""><span>+</span></a></li><li class="empty"><a href=""><span>+</span></a></li><li class="empty"><a href=""><span>+</span></a></li>
            </ul>
            <a href="#" id="select-preferences" class="btn btn__full-width next-slide">Checkout</a>
          </div>
        </div>

        <input type="hidden" name="wines" />

      </div>
    </div>


    <%# =============================== Review =============================== %>

    <div id="review-panel" class="step order-panel swiper-slide noSwipingClass">
      <div class="order-panel-content wrapper wrapper-large">
        <h2>Review order</h2>
        <p>We need to check if the wine is available to deliver in your area</p>

        <table class="order-table">
          <tr>
            <th width="80%">Wine</th>
            <th width="20%">Price</th>
          </tr>
          <tr class="no-bottles">
            <td colspan="2">
              <span>No bottles :(</span>
              <a href="" class="btn btn__small add-bottle-link">Add a bottle</a>
            </td>
          </tr>
          <tr class="add-bottle">
            <td colspan="2">
              <span>Save £5 of a second bottle</span>
              <a href="" class="btn btn__small add-bottle-link">Add another bottle</a>
            </td>
          </tr>
          <tr class="total">
            <td>Total:</td>
            <td class="total-cost">
              <span>£20</span>
            </td>
          </tr>
        </table>

        <div class="btn-checkout">
          <div class="wrapper wrapper-large">
            <a href="" id="checkout" class="next-slide btn btn__full-width">Checkout</a>
          </div>
        </div>

      </div>
    </div>

    <%# =============================== Sign up =============================== %>

    <% unless user_signed_in? %>

    <div id="register-panel" class="step order-panel swiper-slide noSwipingClass">
      <div class="order-panel-content wrapper wrapper-large">
        <div id="account-form" class="register-form">
          <h2 class="account-heading">Register</h2>
          <span class="account-message">Have an account? <a href="" id="account-link" class="signin-link">Sign in</a></span>
          <ul class="errors" id="sign-in-errors"></ul>
          <div>
            <%= text_field :user, :first_name, :placeholder => "First Name" %>
          </div>
          <div>
            <%= text_field :user, :last_name, :placeholder => "Last Name" %>
          </div>
          <div>
            <%= email_field :user, :email,
            :autocomplete => "off",
            :placeholder => "Email" %>
          </div>
          <div>
            <%= text_field :user, :mobile,
            :autocomplete => "off",
            :placeholder => "Mobile" %>
          </div>
          <%
          passPlaceholder = "Password"
          if @validatable
          passPlaceholder += " (#{@minimum_password_length} characters minimum)"
          end
          %>
          <div>
              <%=
              password_field :user,
              :password,
              :autocomplete => "off",
              :placeholder => passPlaceholder
              %>
          </div>
          <div>
              <%=
              password_field :user,
              :password_confirmation,
              :autocomplete => "off",
              :placeholder => "Confirm password"
              %>
          </div>
          <a href="#" id="delivery-details" class="btn">Delivery details</a>
        </div>
      </div>
    </div>

    <% end %>

    <%# ========================== Address selection ========================== %>

    <div id="delivery-panel" class="step order-panel swiper-slide noSwipingClass">
      <div class="order-panel-content wrapper wrapper-large">
        <h2>Delivery address</h2>

        <%# - - - - - -- - - - - - - - - -  Option1 - - - - - -- - - - - - - - - -  %>

        <%
        addressOptions = [['New address', -1]]
        # billingAddressOptions = [['Same address', -1],['Custom address', 0]]
        if current_user
          current_user.addresses.order(updated_at: :desc).each do |a|
            addressOptions.push([a.full, a.id])
            # billingAddressOptions.push([a.full, a.id])
          end
        end
        %>
        <%= select_tag "order-address", options_for_select(addressOptions, @order.address_id), :prompt => "Choose Address", :name => "" %>

        <%# - - - - - -- - - - - - - - - -  Option2 - - - - - -- - - - - - - - - -  %>

        <div id="new_delivery_address" style="display:none;">
          <div>
            <select id="suggested-addresses">
              <option value="0">Please select your street address</option>
            </select>
          </div>
          <div><textarea rows="3" disabled="disabled" id="addr-st" name="address_s" placeholder="House Number and Street Name"></textarea>
          </div>
          <div><input type="text" id="addr-pc" name="address_p" placeholder="Postcode" disabled="disabled"/></div>
          <div><input type="hidden" disabled="disabled" id="addr-no" name="address_d" placeholder="No"/></div>
        </div>
        <input type="hidden" id="address-id" name="address_id"/>

        <div>
          <!-- Next step -->
          <a href="#" class="btn" id="address-details">use address</a> <!-- Changes class to 'red-button' -->
        </div>
      </div>
    </div>

    <%# ========================== Payment ========================== %>

    <div id="payment-panel" class="step order-panel swiper-slide noSwipingClass">
      <div class="order-panel-content wrapper wrapper-large">
        <h2>Link Payment</h2>
          <%
          paymentCards = [['New payment card', -1]]
          if current_user
            current_user.payments.order(updated_at: :desc).each do |a|
              # [ :visa, :master, :american, :discover, :diners, :jcb ]
              if a.brand == 3 # American Express
                cardNumber = "**** ****** #{a.number}"
              else
                cardNumber = "**** **** **** #{a.number}"
              end  
              paymentCards.push([cardNumber, a.id])
            end
          end
          %>

        <%= select_tag "orderCard", options_for_select(paymentCards, @order.payment_id), :prompt => "Choose Card", :name => "" %>
        <div id="new_card" style="display:none;">
          <div><input type="text" id="pmnm" size="20" placeholder="0000 0000 0000 0000" data-stripe="number" /></div>
          <div><input type="text" id="pmcv" size="4"  placeholder="CVC" data-stripe="cvc" /></div>
          <div><input type="text" id="pmxp" size="5"  placeholder="MM/YY" /></div>
        </div>
        <!-- Hidden fields -->
        <input type="hidden" id="old-card" name="old_card" />
        <input type="hidden" id="new-card" name="new_card" />
        <input type="hidden" id="new-brand" name="new_brand" />
        <input type="hidden" id="expm" data-stripe="exp-month" />
        <input type="hidden" id="expy" data-stripe="exp-year" />
        <div>
          <%= f.submit "Submit Order", :class => 'red-button' %>
        </div>
      </div>

    </div>

  <% end %>

  </div>
</div>
