<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @order.client.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address.company_name %>
  <%= @order.address.line_1 %>
  <%= @order.address.line_2 %>
  <%= @order.address.postcode %>
</p>

<p>
  <strong>Warehouse:</strong>
  <% if @order.warehouse %>
  <%= @order.warehouse_id == 0 ? " - " : @order.warehouse.title %>
  <% end %>
</p>

<p>
  <strong>Advisor:</strong>
  <% if @order.advisor %>
  <%= @order.advisor_id == 0 ? " - " : @order.advisor.name %>
  <% end %>
</p>

<p>
  <strong>Wine:</strong>
  <% if @order.wine %>
  <%= @order.wine_id == 0 ? " - " : @order.wine.name %>
  <% end %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
