<div class="win-height">
    <div class="holder">
        <div class="bg-page ">
            <%= image_tag "img-5.jpg", :alt => "image description" %>
        </div>
        <div class="heading">
            <h1>Your perfect wine <span>chosen by VYNZ</span></h1>
        </div>
        <ul class="services-list">
            <li><a href="#">Buy a VYNZ concierge slot </a></li>
            <li><a href="#" class="phone">We ask about your occasion</a></li>
            <li><a href="#" class="choice">We select a <strong>perfect</strong> wine</a></li>
            <li><a href="#" class="time">Delivery like a take-away</a></li>
        </ul>
        <%= link_to "Sign up",
          new_user_registration_path,
          :class => "btn"
        %>
        <a href="#section2" class="link-down">down</a>
    </div>
</div>
<div class="win-height" id="section2">
    <div class="holder">
        <div class="bg-page ">
            <%= image_tag "img-4.jpg", :alt => "image description" %>
        </div>
        <div class="heading-main">
            <h2>Once you sign up to VYNZ</h2>
            <span class="step">1</span>
        </div>
        <div class="speak-text">
            <h3>Speak to an expert who chooses for you</h3>
            <p>Lorem ipsum ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </div>
        <a href="#section3" class="link-down">down</a>
    </div>
</div>
<div class="win-height" id="section3">
    <div class="holder">
        <div class="bg-page ">
            <%= image_tag "img-3.jpg", :alt => "image description" %>
        </div>
        <div class="heading-main">
            <span class="step">2</span>
        </div>
        <div class="quality-text">
            <h3>Wines from only the highest quality producers</h3>
            <p>Lorem ipsum ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </div>
        <a href="#section4" class="link-down">down</a>
    </div>
</div>
<div class="win-height" id="section4">
    <div class="holder">
        <div class="bg-page ">
            <%= image_tag "img-8.jpg", :alt => "image description" %>
        </div>
        <div class="heading-main">
            <span class="step">3</span>
        </div>
        <div class="speed-box">
            <h3>Super fast delivery <span>Ready to drink straight away</span></h3>
            <p>Lorem ipsum ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <%= link_to "Sign up",
              new_user_registration_path,
              :class => "btn"
            %>
        </div>
    </div>
</div>