<%= form_for([:admin, @warehouse]) do |f| %>
  <% if @warehouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warehouse.errors.count, "error") %> prohibited this warehouse from being saved:</h2>

      <ul>
      <% @warehouse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>




  <div class="field">
    <%= f.label :address_id %><br />
    <%# f.number_field :address_id %>
    <%= f.fields_for :address do |a| %>
      <div class="field">
        <%= a.label :street %><br />
        <%= a.text_field :street %>
      </div>
      <div class="field">
        <%= a.label :postcode %><br />
        <%= a.text_field :postcode %>
      </div>
    <% end %>
  </div>

  






  <div class="field">
    <%= f.label :agenda %><br />
<% if @agendas %>
<% agendaCounter = 0 %>


    <% @agendas.each do |a| %>
      <h4><%=a.day_name%></h4>
      <input type="hidden" name="warehouse[agendas_attributes][<%=agendaCounter%>][id]" value="<%=a.id%>" />
      <input type="hidden" name="warehouse[agendas_attributes][<%=agendaCounter%>][day]" value="<%=a.day%>" />
      <div class="field">
        <label for="warehouse[agendas_attributes][<%=agendaCounter%>][opening]">Opening</label><br />
        <input type="text" name="warehouse[agendas_attributes][<%=agendaCounter%>][opening]" value="<%=a.opening%>" />
      </div>
      <div class="field">
        <label for="warehouse[agendas_attributes][<%=agendaCounter%>][closing]">Closing</label><br />
        <input type="text" name="warehouse[agendas_attributes][<%=agendaCounter%>][closing]" value="<%=a.closing%>" />
      </div>
      <% agendaCounter += 1 %>
    <% end %>



<% else %>

<% for i in 0..6 do %>
      <h4><%= Date::DAYNAMES[i] %></h4>
      <input type="hidden" name="warehouse[agendas_attributes][<%=i%>][day]" value="<%=i%>" />
      <div class="field">
        <label for="warehouse[agendas_attributes][<%=i%>][opening]">Opening</label><br />
        <input type="text" name="warehouse[agendas_attributes][<%=i%>][opening]" value="900" />
      </div>
      <div class="field">
        <label for="warehouse[agendas_attributes][<%=i%>][closing]">Closing</label><br />
        <input type="text" name="warehouse[agendas_attributes][<%=i%>][closing]" value="1800" />
      </div>
<% end %>



<% end %>

  </div>





  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
