<%= form_for([:admin, @warehouse]) do |f| %>

    <div class="form-group">
      <%= f.label :title %>
      <br/>
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <br/>
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :phone %>
      <br/>
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :active %>
      <br/>
      <%= f.check_box :active %>
    </div>

    <div class="form-group">
      <%= f.label :address_id %>
      <br/>
      <%= f.fields_for :address do |a| %>
          <div class="form-group">
            <%= a.label :line_1 %>
            <br/>
            <%= a.text_field :line_1, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= a.label :line_2 %>
            <br/>
            <%= a.text_field :line_2, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= a.label :postcode %>
            <br/>
            <%= a.text_field :postcode, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= a.label :longitude %>
            <br/>
            <%= a.text_field :longitude, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= a.label :latitude %>
            <br/>
            <%= a.text_field :latitude, :class => 'form-control' %>
          </div>
      <% end %>
    </div>

    <div class="field">
      <strong>Users</strong>

      <% unless @warehouse.users.blank? %>
          <table border="1" class="table table-bordered">
            <thead>
            <tr>
              <th>Id</th>
              <th>E-mail</th>
              <th>Name</th>
              <th>Unassign</th>
            </tr>
            </thead>

            <tbody>
            <% @warehouse.users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.email %></td>
                  <td><%= user.name %></td>
                  <td class="button-wrapper">
                    <%= link_to admin_warehouse_remove_user_path(@warehouse, :user_id => user.id), method: :post,
                                data: {confirm: 'Are you sure you want to disassociate user:' + user.name + ' from this warehouse?'},
                                class: 'btn btn-default' do %>
                        <i class="fa fa-times"></i>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>

      <p>
        <strong>Assign user to this warehouse</strong><br/>

        <%
           users_options = []
           if @users
             @users.each do |user|
               users_options.push([user.name + ' - ' + user.email, user.id])
             end
           end
        %>
        <%= select_tag 'user_id', options_for_select(users_options), :prompt => 'Assign User', :class => 'form-control' %>

      </p>
    </div>



    <div class="form-group">
      <%= f.label :agenda %>
      <br/>

      <table border="1" class="table table-bordered">
        <thead>
        <tr>
          <th>Day</th>
          <th>Opens Today</th>
          <th>Booked Delivery Starts</th>
          <th>Booked Delivery Ends</th>
          <th>Live Delivery Starts</th>
          <th>Live Delivery Ends</th>
        </tr>
        </thead>

        <tbody>
        <% if @agendas %>
            <% agendaCounter = 0 %>

            <% @agendas.each do |a| %>
                <input type="hidden" name="warehouse[agendas_attributes][<%= agendaCounter %>][id]" value="<%= a.id %>"/>
                <input type="hidden" name="warehouse[agendas_attributes][<%= agendaCounter %>][day]" value="<%= a.day %>"/>

                <tr>
                  <td>
                    <strong><%= a.day_name %></strong>
                  </td>
                  <td>

                    <input type="hidden" name="warehouse[agendas_attributes][<%= agendaCounter %>][opens_today]" value="false"/>
                    <input type="checkbox" name="warehouse[agendas_attributes][<%= agendaCounter %>][opens_today]" <%= a.opens_today ? 'checked' : '' %>>
                  </td>
                  <td>
                    <input type="text" class="form-control"
                           name="warehouse[agendas_attributes][<%= agendaCounter %>][delivery_slots_from]"
                           value="<%= a.delivery_slots_from.blank? ? '' : a.delivery_slots_from.strftime('%H:%M') %>"/>
                  </td>
                  <td>
                    <input type="text" class="form-control"
                           name="warehouse[agendas_attributes][<%= agendaCounter %>][delivery_slots_to]"
                           value="<%= a.delivery_slots_to.blank? ? '' : a.delivery_slots_to.strftime('%H:%M') %>"/>
                  </td>
                  <td>
                    <input type="text" class="form-control"
                           name="warehouse[agendas_attributes][<%= agendaCounter %>][live_delivery_from]"
                           value="<%= a.live_delivery_from.blank? ? '' :  a.live_delivery_from.strftime('%H:%M') %>"/>
                  </td>
                  <td>
                    <input type="text" class="form-control"
                           name="warehouse[agendas_attributes][<%= agendaCounter %>][live_delivery_to]"
                           value="<%= a.live_delivery_to.blank? ? '' :  a.live_delivery_to.strftime('%H:%M') %>"/>
                  </td>
                </tr>

                <% agendaCounter += 1 %>
            <% end %>
        <% else %>
            <% for i in 0..6 do %>
                <input type="hidden" name="warehouse[agendas_attributes][<%= i %>][day]" value="<%= i %>"/>
                <tr>
                  <td>
                    <%= Date::DAYNAMES[i] %>
                  </td>
                  <td>
                    <input type="checkbox" name="warehouse[agendas_attributes][<%= i %>][opens_today]" checked>
                  </td>
                  <td>
                    <input type="text" name="warehouse[agendas_attributes][<%= i %>][opening]" value="900"/>
                  </td>
                  <td>
                    <input type="text" name="warehouse[agendas_attributes][<%= i %>][closing]" value="1800"/>
                  </td>
                  </tr>
            <% end %>
        <% end %>

        </tbody>
      </table>
    </div>
    <div class="form-group">
      <strong>Fulfilling these categories:</strong>
        <br/>
      House: <%= f.check_box :house_available %> |
      Reserve: <%= f.check_box :reserve_available %> |
      Fine: <%= f.check_box :fine_available %> |
      Cellar: <%= f.check_box :cellar_available %>
    </div>
    <div class="form-group">
      <%= f.label :delivery_area %>
      <br/>
      <textarea id="area" name="warehouse[delivery_area]" cols="50" rows="20" class="form-control lat-lng"></textarea>
      <script>
          var area = '<%= @warehouse.area %>';
          area = area.replace('[[', '[[\n');
          area = area.replace(']]]', ']\n]]');

          $('#area').val(area);
      </script>
    </div>
    <div class="form-group">
      <p>
        <strong>Update Shutl Record on save </strong>
          <br/>
        <%= check_box_tag 'update_shutl' %>
      </p>
    </div>
    <div class="actions">
      <%= f.submit(:class => 'btn btn-success') %>
    </div>
<% end %>
