<%= form_for([:admin, @warehouse]) do |f| %>
  <% if @warehouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warehouse.errors.count, "error") %> prohibited this warehouse from being saved:</h2>

      <ul>
      <% @warehouse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
  <div class="field">
    <%= f.label :address_id %><br>
    <%# f.number_field :address_id %>
    <%= f.fields_for :address  do |a| %>

      <div class="field">
        <%= a.label :detail %><br>
        <%= a.text_field :detail %>
      </div>
      <div class="field">
        <%= a.label :street %><br>
        <%= a.text_field :street %>
      </div>
      <div class="field">
        <%= a.label :postcode %><br>
        <%= a.text_field :postcode %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
