<h1>Listing warehouses</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Email</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= warehouse.title %></td>
        <td><%= warehouse.email %></td>
        <td>
          <% if warehouse.address %>
          <%= warehouse.address.full %>
          <% else %>
          -
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to admin_warehouse_path(warehouse) do %>
            <i class="flaticon stroke zoom-1"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to edit_admin_warehouse_path(warehouse) do %>
            <i class="flaticon stroke pencil-2"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to admin_warehouse_path(warehouse), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="flaticon stroke trash-2"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warehouse', new_admin_warehouse_path %>
