<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @warehouse.title %>
</p>

<p>
  <strong>Email:</strong>
  <%= @warehouse.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @warehouse.address.detail %>
  <%= @warehouse.address.street %>
  <%= @warehouse.address.postcode %>
</p>

<p>
  <strong>Agenda:</strong>
  <% @warehouse.agendas.each do |agenda| %>
    <dl>
        <dt><%= agenda.day_name %></dt>
        <dd><%= agenda.opening_time %> - <%= agenda.closing_time %></dd>
    </dl>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_warehouse_path(@warehouse) %> |
<%= link_to 'Back', admin_warehouses_path %>
