<% content_for :head do %>
    <script src="https://maps.google.com/maps/api/js?v=3&sensor=false"></script>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @warehouse.title %>
</p>

<p>
  <strong>Active</strong>
  <%= @warehouse.active %>
</p>

<p>
  <strong>Email:</strong>
  <%= @warehouse.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @warehouse.phone %>
</p>

<p>
  <strong>Address:</strong>
  <% unless @warehouse.address.blank? %>
      <%= @warehouse.address.line_1 %>
      <%= @warehouse.address.line_2 %>
      <%= @warehouse.address.postcode %>
      <% unless @warehouse.address.coordinates.blank? %>
          (<%= 'lat/lng: ' + @warehouse.address.latitude.to_s + ', ' + @warehouse.address.longitude.to_s %>)
      <% end %>
  <% end %>
</p>

<p>
  <strong>Users:</strong><br/>
  <% if @warehouse.users.blank? %>
      No users assigned to this warehouse
  <% else %>
      <% @warehouse.users.each do |user| %>
          <%= user.name %> - <%= user.email %>
      <% end %>
  <% end %>
</p>

<p>
  <strong>Agenda:</strong>
  <% @agendas.each do |agenda| %>
    <dl>
      <dt><%= agenda.day_name %></dt>
      <dd><%= agenda.opening_time %> - <%= agenda.closing_time %></dd>
    </dl>
<% end %>
</p>

<section>
  <div class="row">
    <div class="col-md-12">
      <strong>Delivery Area</strong>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 delivery-map">
      <% if @warehouse.delivery_area.blank? || @warehouse.address.blank? %>
          Not Set
      <% else %>
          <div id="map" style="width: 100%; height: 500px;"></div>
          <script>
              var warehouseLatitude = <%= @warehouse.address.latitude %>;
              var warehouseLongitude = <%= @warehouse.address.longitude %>;
              var deliveryArea = [<% @warehouse.delivery_area.exterior_ring.points.each do |point| %> [<%= point.y %>, <%= point.x %>], <% end %>];
          </script>
      <% end %>
    </div>
  </div>
</section>
<p>
  <strong>Shutl Info</strong>

  Registered with Shutl: <%= @warehouse.registered_with_shutl == true %>

  <% if @warehouse.registered_with_shutl %>
      <% unless @shutl_info.blank? %>
        <div id="shutl-info" style="white-space: pre; font-family: monospace;"></div>
        <script>
            var shutlInfo = JSON.parse('<%= @shutl_info.html_safe %>');
            $('#shutl-info').text(JSON.stringify(shutlInfo, null, 4));
        </script>
    <% end %>


<% else %>
    Not Registered with Shutl. Update Warehouse to register it.
<% end %>
</p>

<%= link_to 'Edit', edit_admin_warehouse_path(@warehouse) %>
<%= link_to 'Back', admin_warehouses_path %>
