<div class="warehouse-details"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <h3 class="panel-title">Warehouse Details</h3>
      </div>
      <div class="col-xs-6 text-right">
        <%= link_to edit_admin_warehouse_path(@warehouse), class: 'btn btn-default', 'data-no-turbolink' => true do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        <% end %>
      </div>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-6">
          <strong>Title:</strong>
          <%= @warehouse.title %>
        </div>
        <div class="col-xs-3">
          <strong>Active</strong>
          <%= @warehouse.active %>
        </div>
        <div class="col-xs-3">
          <strong>Active From</strong>
          <% unless @warehouse.active_from.blank? %>
          <%= local_time(@warehouse.active_from, '%b %d, %Y') %>
          <% end %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-6">
          <strong>Email:</strong>
          <%= @warehouse.email %>
        </div>
        <div class="col-xs-6">
          <strong>Phone:</strong>
          <%= @warehouse.phone %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-6">
          <strong>Address:</strong>
          <% unless @warehouse.address.blank? %>
              <%= link_to admin_address_path(@warehouse.address) do %>
                  <%= @warehouse.address.line_1 %>
                  <%= @warehouse.address.line_2 %>
                  <%= @warehouse.address.postcode %>
              <% end %>

              <% unless @warehouse.address.coordinates.blank? %>
                  (<%= 'lat/lng: ' + @warehouse.address.latitude.to_s + ', ' + @warehouse.address.longitude.to_s %>)
              <% end %>
          <% end %>
        </div>
        <div class="col-xs-6">
          <strong>Users:</strong><br/>
          <% if @warehouse.users.blank? %>
              <strong>No users assigned to this warehouse</strong>
          <% else %>
              <% @warehouse.users.each do |user| %>
                  <div>
                    <%= link_to admin_user_path(user) do %>
                        <%= user.name %> - <%= user.email %>
                    <% end %>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Delivery Hours:</strong>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <table border="1" class="table table-bordered">
            <thead>
            <tr>
              <th>Day</th>
              <th>Opens Today</th>
              <th>Booked Delivery Starts</th>
              <th>Booked Delivery Ends</th>
              <th>Live Delivery Starts</th>
              <th>Live Delivery Ends</th>
            </tr>
            </thead>

            <tbody>
            <% @agendas.each do |agenda| %>
                <tr>
                  <td>
                    <%= agenda.day_name %>
                  </td>
                  <td>
                    <%= agenda.opens_today ? 'Open' : 'Closed' %>
                  </td>
                  <td>
                    <%= agenda.delivery_slots_from.blank? ? '' : agenda.delivery_slots_from.strftime('%H:%M') %>
                  </td>
                  <td>
                    <%= agenda.delivery_slots_to.blank? ? '' : agenda.delivery_slots_to.strftime('%H:%M') %>
                  </td>
                  <td>
                    <%= agenda.live_delivery_from.blank? ? '' : agenda.live_delivery_from.strftime('%H:%M') %>
                  </td>
                  <td>
                    <%= agenda.live_delivery_to.blank? ? '' : agenda.live_delivery_to.strftime('%H:%M') %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Fulfilling categories:</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <strong>House:</strong> <%= @warehouse.house_available %> |
          <strong>Reserve:</strong> <%= @warehouse.reserve_available %> |
          <strong>Fine:</strong> <%= @warehouse.fine_available %> |
          <strong>Cellar:</strong> <%= @warehouse.cellar_available %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Delivery Area</strong>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">

        <% if @warehouse.delivery_area.blank? || @warehouse.address.blank? %>
            <div class="col-md-12 delivery-map">
              Not Set
            </div>
        <% else %>
            <div class="col-md-12 delivery-map" style="margin: -15px 0 -10px 0">
              <div id="map" style="width: 100%; height: 500px;"></div>
              <script>
                  var warehouseLatitude = <%= @warehouse.address.latitude %>;
                  var warehouseLongitude = <%= @warehouse.address.longitude %>;
                  var deliveryArea = [<% @warehouse.delivery_area.exterior_ring.points.each do |point| %> [<%= point.y %>, <%= point.x %>], <% end %>];
              </script>
            </div>
        <% end %>

      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-12">
          <strong>Shutl Info</strong>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-12">
          <% if @warehouse.registered_with_shutl %>
              <%= link_to 'Shutl Info', admin_warehouse_shutl_path(@warehouse), class: 'btn btn-default' %>
          <% else %>
              Not Registered with Shutl. Update Warehouse to register it.
          <% end %>
        </div>
      </div>
    </li>
  </ul>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6">
        <%= link_to admin_warehouses_path, class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back To Warehouses
        <% end %>
        <%= link_to edit_admin_warehouse_path(@warehouse), class: 'btn btn-default', 'data-no-turbolink' => true do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        <% end %>
      </div>
      <div class="col-xs-6 text-right">
        <%= link_to admin_warehouse_path(@warehouse), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' do %>
            <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

