<p>
  <strong>Title:</strong>
  <%= @warehouse.title %>
</p>

<p>
  <strong>Active</strong>
  <%= @warehouse.active %>
</p>

<p>
  <strong>Email:</strong>
  <%= @warehouse.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @warehouse.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @warehouse.address.line_1 %>
  <%= @warehouse.address.line_2 %>
  <%= @warehouse.address.postcode %>
  <% unless @warehouse.address.coordinates.blank? %>
  (<%= 'lat/lng: ' + @warehouse.address.latitude.to_s + ', ' + @warehouse.address.longitude.to_s %>)
  <% end %>
</p>

<p>
  <strong>Agenda:</strong>
  <% @agendas.each do |agenda| %>
    <dl>
      <dt><%= agenda.day_name %></dt>
      <dd><%= agenda.opening_time %> - <%= agenda.closing_time %></dd>
    </dl>
<% end %>
</p>

<p>
  <strong>Shutl Info</strong>
  <% if @warehouse.registered_with_shutl %>
      <%= @shutl_info %>
  <% else %>
      Not Registered with Shutl. Update Warehouse to register it.
  <% end %>

</p>

<%= link_to 'Edit', edit_admin_warehouse_path(@warehouse) %>
<%= link_to 'Back', admin_warehouses_path %>
