<% unless @order.advisory_completed_at.blank? %>

    <p class="note">An expert at <strong><%= @order.warehouse.title %></strong> has chosen your wine.</p>
    <% if @order.order_change_timeout_seconds > 0 %>
        <p class="note">Please review your order.</p>
        <% if @order.can_request_substitution? %>
            <p class="note">You may request changes to the selection below.</p>
        <% end %>
        <div style="margin-top: 10px; margin-bottom: 10px">
          <a href="/orders/<%= @order.id %>/accept" class="btn btn__full-width" id="accept-order">Accept Order</a>
        </div>
    <% else %>
        <hr class="divider">
    <% end %>

    <% @order.order_items.each_with_index do |item, index| %>
        <div id="wine-summary-<%= index + 1 %>">
          <div class="wine-name">
            <span class="wine-number"><%= index + 1 %>: </span> <%= item.wine.full_info %> - £<%= '%.2f' % item.price %>
            <a name="wine-more-details-link" href="#" data-id="<%= index + 1 %>" style="float: right">+ more</a>
          </div>
          <% unless item.advisory_note.blank? %>
              <div class="merchant-note">
                Merchant Note: <%= item.advisory_note %>
              </div>
          <% end %>
        </div>
        <div id="wine-detail-<%= index + 1 %>" data-id="<%= index + 1 %>" style="display: none" class="wine-name">
          <span>Name:</span> <%= item.wine.name %>
          <a name="wine-less-details-link" href="#" data-id="<%= index + 1 %>" style="float: right">- less</a><br/>
          <span>Producer:</span> <%= item.wine.producer.name %><br/>
          <span>Vintage:</span> <%= item.wine.txt_vintage %><br/>
          <% unless item.wine.type.blank? %>
              <span>Type:</span> <%= item.wine.type.name %><br/>
          <% end %>
          <span>Grape:</span> <%= item.wine.compositions_array.map { |grape| grape[:name] }.join(', ') %><br/>
          <span>Location:</span> <%= "#{item.wine.producer.country.name} - #{item.wine.region.name}" %><%= item.wine.subregion.blank? ? '' : (", #{item.wine.subregion.name}") %>
          <br/>


          <% unless item.wine.appellation.blank? %>
              <span>Appellation:</span> <%= item.wine.appellation.name %><%= item.wine.appellation.classification.blank? ? '' : " (#{item.wine.appellation.classification})" %>
              <br/>
          <% end %>
          <span>Price:</span> £<%= '%.2f' % item.price %>
        </div>

        <hr class="divider">
    <% end %>

    <% unless @order.delivery_price.blank? %>
        <div class="total">Delivery (flat fee): £<%= '%.2f' % @order.delivery_price %></div>
    <% end %>
    <div class="total">Total (inc. delivery and VAT): £<%= '%.2f' % @order.total_price %></div>
    <hr class="divider">
    <% if @order.order_change_timeout_seconds > 0 %>

        <div class="total" style="margin-bottom: 10px;">
          <div id="counter-text" style="display: none; text-align: center"> This order will be scheduled for delivery
            in:
            <span id="counter"></span>
          </div>
        </div>

        <div style="margin-top: 10px">
          <% if @order.can_request_substitution? %>
              <a href="/orders/<%= @order.id %>/substitution_request" class="btn btn__small btn__full-width btn__gray">
                Change wine choice
              </a>
          <% end %>
        </div>

        <div style="margin-top: 10px">
          <a href="/orders/<%= @order.id %>/cancellation_request" class="btn btn__small btn__full-width btn__gray">Cancel
            Order</a>
        </div>

    <% end %>
<% end %>

<input type="hidden" id="refreshed" value="no">
<script type="text/javascript">
    var onLoad = function () {
        var e = document.getElementById("refreshed");
        if (e.value == "no")
            e.value = "yes";
        else {
            e.value = "no";
            location.reload();
        }
    }
    onLoad();
</script>