<% unless @order.advisory_completed_at.blank? %>
    <% @order.order_items.each do |item| %>
        <div><%= item.wine.full_info %> - £<%= '%.2f' % item.price %></div>
        <div>Note from the merchant: <%= item.advisory_note %> </div>
    <% end %>
    <% unless @order.delivery_price.blank? %>
        <div>Delivery: £<%= '%.2f' % @order.delivery_price %></div>
    <% end %>
    <div>Total (inc. delivery and VAT): £<%= '%.2f' % @order.total_price %></div>

    <% if @order.order_change_timeout_seconds > 0 %>
        <div>
          <a href="/orders/<%= @order.id %>/accept" id="accept-order">Accept Order</a>
        </div>

        <div>
          <% if @order.can_request_substitution? %>
              <a href="/orders/<%= @order.id %>/substitution_request">Request Substitution</a>
          <% end %>
        </div>

        <div>
          <a href="/orders/<%= @order.id %>/cancellation_request">Cancel Order</a>
        </div>


        <div id="counter"></div>
    <% end %>
<% end %>