<div class="row">
  <div class="col-xs-12">
    <h4 class="app-title order-heading">
      Wine Selection:
    </h4>
  </div>
</div>

<% @order.order_items.each do |item| %>
    <div class="row">
      <div class="col-xs-12">
        <%= item.quantity %>x - <%= item.category.name %>
        (£<%= '%.2f' % item.category.price_min %>-<%= '%.2f' % item.category.price_max %>)
        - <%= item.preferences.join(', ') %>

        <div>
          <span>Name:</span> <%= item.wine.name %>
          <span>Producer:</span> <%= item.wine.producer.name %><br/>
          <span>Vintage:</span> <%= item.wine.txt_vintage %><br/>
          <% unless item.wine.type.blank? %>
              <span>Type:</span> <%= item.wine.type.name %><br/>
          <% end %>
          <span>Grape:</span> <%= item.wine.compositions_array.map { |grape| grape[:name] }.join(', ') %><br/>
          <span>Location:</span> <%= "#{item.wine.producer.country.name} - #{item.wine.region.name}" %><%= item.wine.subregion.blank? ? '' : (", #{item.wine.subregion.name}") %>
          <br/>

          <% unless item.wine.appellation.blank? %>
              <span>Appellation:</span> <%= item.wine.appellation.name %><%= item.wine.appellation.classification.blank? ? '' : " (#{item.wine.appellation.classification})" %>
              <br/>
          <% end %>
          <% unless item.advisory_note.blank? %>
              <span>Merchant Note:</span> <%= item.advisory_note %><br/>
          <% end %>
          <span>Price:</span> £<%= '%.2f' % item.price %>
        </div>


      </div>
    </div>
<% end %>

<div class="order-divider"></div>
<div class="row">
  <% unless @order.delivery_price.blank? %>
      <div class="col-xs-6">Delivery: £<%= '%.2f' % @order.delivery_price %></div>
  <% end %>
  <div class="col-xs-6 text-right">Total: £<%= '%.2f' % @order.estimated_total_min_price %> -
    <%= '%.2f' % @order.estimated_total_max_price %>
  </div>
</div>
