<div class="row">
  <div class="col-xs-12">
    <h4 class="app-title order-heading">
      Wine Preferences:
    </h4>
  </div>
</div>

<% @order.order_items.each do |item| %>
    <div class="row">
      <div class="col-xs-12">
        <%= item.quantity %>x - <%= item.category.name %>
        (£<%= '%.2f' % item.category.price_min %>-<%= '%.2f' % item.category.price_max %>)
        - <%= item.preferences.join(', ') %></div>
    </div>
<% end %>

<div class="order-divider"></div>
<div class="row">
  <% unless @order.delivery_price.blank? %>
      <div class="col-xs-6">Delivery: £<%= '%.2f' % @order.delivery_price %></div>
  <% end %>
  <div class="col-xs-6 text-right">Total: £<%= '%.2f' % @order.estimated_total_min_price %> -
    <%= '%.2f' % @order.estimated_total_max_price %>
  </div>
</div>
