<div class="order-confirmation">
  <div class="order-confirmation-overlay"></div>
  <div class="order-confirmation-content wrapper">
    <div class="order-sub-content">
      <% if @order.order_change_timeout_seconds > 0 %>
          <div class="cancel" style="padding-bottom: 10px;">Please let us know the reason for cancellation</div>
          <%= form_tag(order_cancel_path(@order), id: 'cancel-order', method: 'post') do %>
              <%= text_field_tag(:reason, nil, placeholder: 'Reason') %>
              <div class="total" style="display: none; margin-top: 10px;" id="cancel-error">* Please enter reason for your
                cancellation
              </div>
              <%= submit_tag('Submit', :style => 'margin-top: 10px;') %>
          <% end %>

          <div class="total" style="margin-bottom: 10px; margin-top: 10px;">
            <div id="counter-text" style="display: none; text-align: center"> This order will be scheduled for delivery in:
              <span id="counter"></span>
            </div>
          </div>

          <div style="text-align: center"><a href="/orders/<%= @order.id %>" class="btn btn__small btn__full-width btn__gray">Back to order details</a></div>

      <% else %>
          <div class="cancel" style="padding: 20px;text-align: center">
            <div>Oops you took too long to request cancellation.</div>
            We processed your order with the original selection.
            Please contact
            <a href="https://vyne.zendesk.com/">Vyne Support</a>
            in case of any queries about your order.
            <div style="padding-top: 10px;"><a href="/orders/<%= @order.id %>" class="btn btn__small btn__full-width btn__gray">Back to order details</a></div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    var cancellationOrderId = <%= @order.id %>;
    var orderChangeTimeOutSeconds = <%= @order.order_change_timeout_seconds %>;
</script>