<% content_for :head do %>
    <script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
<% end %>

<div class="order-confirmation">

  <div class="order-confirmation-overlay"></div>

  <div class="order-confirmation-content wrapper">

    <ul class="accordian" id="order-views">
      <li class="accordian-item
        <% if @order.status_id == Status.statuses[:pending] %> active
        <% end %>" id="order-placed">
        <div class="line"></div>
        <span class="accordian-item-link">1. Order Placed</span>

        <div class="accordian-item-content">
          <div class="line"></div>
          <span class="number">1</span>

          <h3>Thanks for ordering</h3>

          <p>Our sommelier is now choosing your wine</p>
          <span>(Based on the preferences provided)</span>
        </div>
      </li>
      <li class="accordian-item
        <% if @order.status_id == Status.statuses[:pickup] %> active
        <% end %>" id="order-pickup">
        <span class="accordian-item-link">2. Courier collects from cellar</span>

        <div class="accordian-item-content">
          <div class="line"></div>
          <span class="number">2</span>

          <h3>Courier en route to wine cellar</h3>

          <p>The courier is on the first leg of the journey: to the wine cellar. </p><br/>

          <p>Check this page in 10-20 minutes to see if the bottle has been collected and on its way to you.</p>
        </div>
      </li>
      <li class="accordian-item
        <% if @order.status_id == Status.statuses[:in_transit] %> active
        <% end %>" id="order-in-transit">
        <span class="accordian-item-link">3. Your bottle is on its way!</span>

        <div class="accordian-item-content">
          <div class="line"></div>
          <span class="number">3</span>

          <h3>Your bottle is en-route to your chosen location.</h3>

          <p>Make sure you're available at <%= @order.address.postcode %> for the courier to deliver your
            bottle. </p>
          <br/>
          <% unless @estimate.blank? %>
              <p>Estimated delivery time: <%= Time.parse(@estimate).strftime("%H:%M") %></p>
          <% end %>

          <div id="map" style="width: 100%; height: 300px; display: none"></div>

        </div>
      </li>
      <li class="accordian-item
        <% if @order.status_id == 6 %> active
        <% end %>" id="order-delivered">
        <span class="accordian-item-link">4. Delivery Complete</span>

        <div class="accordian-item-content">
          <div class="line"></div>
          <span class="number">4</span>

          <h3>Your order has been delivered.</h3>
          <br/>

          <p>If you have any problems, get in touch via <br/><a href="https://vyne.zendesk.com/hc">Vyne Helpdesk</a></p>
          <br/>
        </div>
      </li>
    </ul>


  </div>

</div>
<script>
    <% unless @order.blank? %>
    var orderId = <%= @order.id %>;
    var orderData = {
        status: '<%= @order.status.label %>',
        customer_lat: <%= @order.address.latitude %>,
        customer_lng: <%= @order.address.longitude %>,
        warehouse_lat: <%= @order.warehouse.address.latitude %>,
        warehouse_lng: <%= @order.warehouse.address.longitude %>
    };
    <% end %>

</script>
