<section id="availability" class="section section-dark order-details">
  <div class="section-background">
    <!-- IMAGE BACKGROUND -->
    <div class="section-background-image parallax-background" data-stellar-background-ratio="0.4"></div>
  </div>

  <div class="container-fluid">
    <div class="row animated fadeIn">
      <div class="col-lg-8 col-lg-offset-2
                  col-md-8 col-md-offset-2
                  col-sm-10 col-sm-offset-1
                  col-xs-12 col-xs-offset-0">
        <div id="order-details"></div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row animated fadeIn">
      <div class="col-lg-8 col-lg-offset-2
                  col-md-8 col-md-offset-2
                  col-sm-10 col-sm-offset-1
                  col-xs-12 col-xs-offset-0">
        <div class="row order-section">
          <!-- left -->
          <div class="col-sm-6 col-xs-12">


            <!-- Change to wine selection once advisory is complete -->



          </div>

          <!--<div class="col-xs-12">-->
          <!--<h4 class="app-title order-heading text-center">-->
          <!--MAP MAP MAP-->
          <!--</h4>-->
          <!--</div>-->

          <!-- right -->
          <div class="col-sm-6 col-xs-12">

            <div class="row">
              <div class="col-xs-12">
                <h4 class="app-title order-heading">
                  Payment Method:
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <%
                   if @order.payment.brand == 3 # American Express
                     card_number = "**** ****** #{@order.payment.number}"
                   else
                     card_number = "**** **** **** #{@order.payment.number}"
                   end
                %>
                <%= card_number %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="order-confirmation">

  <div class="order-confirmation-overlay"></div>

  <div class="order-confirmation-content wrapper">

    <% if @order.status_id == Status.statuses[:cancelled] || params[:cancelled] == 'true' %>
        <div class="cancel" style="padding: 20px;text-align: center;">
          Your order has been cancelled.
        </div>
    <% else %>
        <ul class="accordian" id="order-views">
          <li class="accordian-item
        <% if @order.status_id == Status.statuses[:payment_failed] %> active
        <% end %>" id="order-payment-failed">
            <div class="line"></div>

            <div class="accordian-item-content">

              <h3>
                Payment for your order #<%= @order.id.to_s %> failed
                <br/>
                Please contact Vyne at:
                <br/>
                020 3355 4338
              </h3>

            </div>
          </li>
          <li class="accordian-item
        <% if @order.status_id == Status.statuses[:created] %> active
        <% end %>" id="order-created">
            <div class="line"></div>


            <div class="accordian-item-content">
              <div class="line"></div>


              <h3>Thanks for ordering</h3>

              <% unless @order.order_schedule.blank? %>

                  <p class="delivery-note">Your order will be delivered on
                    <strong><%= local_time(@order.order_schedule[:from], '%B %d') %>
                      between <%= local_time(@order.order_schedule[:from], '%l:%M %p') %>
                      and <%= local_time(@order.order_schedule[:to], '%l:%M %p') %></strong>
                  </p>

                  <p class="delivery-note">We will notify you when our sommelier chooses your wine based on the
                    preferences provided</p>

                  <p class="delivery-note">
                    <strong>You will be able to review order before delivery</strong>
                  </p>

              <% end %>


            </div>
          </li>
          <li class="accordian-item
        <% if @order.status_id == Status.statuses[:pending] %> active
        <% end %>" id="order-placed">
            <div class="line"></div>
            <span class="accordian-item-link">1. Order Placed</span>

            <div class="accordian-item-content">
              <div class="line"></div>
              <span class="number">1</span>

              <h3>Thanks for ordering</h3>

              <p>Our sommelier is now choosing your wine</p>
              <span>(Based on the preferences provided)</span>
            </div>
          </li>
          <li class="accordian-item
        <% if [Status.statuses[:advised], Status.statuses[:packing]].include? @order.status_id %> active
        <% end %>" id="order-advised">
            <div class="line"></div>
            <span class="accordian-item-link">2. Order Advised</span>

            <div class="accordian-item-content">
              <div class="line"></div>
              <span class="number">2</span>

              <h3> Your sommelier's recommendation</h3>

              <%= render 'order_items' %>

            </div>
          </li>
          <li class="accordian-item
        <% if @order.status_id == Status.statuses[:pickup] %> active
        <% end %>" id="order-pickup">
            <span class="accordian-item-link">3. Courier collects from cellar</span>

            <div class="accordian-item-content">
              <div class="line"></div>
              <span class="number">3</span>

              <h3>Courier en route to wine cellar</h3>

              <p>The courier is on the first leg of the journey: to the wine cellar. </p><br/>

              <p>Check this page in 10-20 minutes to see if the bottle has been collected and on its way to you.</p>
            </div>
          </li>
          <li class="accordian-item
        <% if @order.status_id == Status.statuses[:in_transit] %> active
        <% end %>" id="order-in-transit">
            <span class="accordian-item-link">4. Your bottle is on its way!</span>

            <div class="accordian-item-content">
              <div class="line"></div>
              <span class="number">4</span>

              <h3>Your bottle is en-route to your chosen location.</h3>

              <p>Make sure you're available at <%= @order.address.blank? ? '' : @order.address.postcode %> for the
                courier
                to deliver your
                bottle. </p>
              <br/>
              <% unless @estimate.blank? %>
                  <p>Estimated delivery time: <%= Time.parse(@estimate).strftime("%H:%M") %></p>
              <% end %>

              <div id="map" style="width: 100%; height: 300px; display: none"></div>

            </div>
          </li>
          <li class="accordian-item
        <% if @order.status_id == 6 %> active
        <% end %>" id="order-delivered">
            <span class="accordian-item-link">5. Delivery Complete</span>

            <div class="accordian-item-content">
              <div class="line"></div>
              <span class="number">5</span>

              <h3>Your order has been delivered.</h3>
              <br/>

              <p>If you have any problems, get in touch via <br/><a href="https://vyne.zendesk.com/hc">Vyne Helpdesk</a>
              </p>
              <br/>
            </div>
          </li>
        </ul>
    <% end %>
  </div>
</div>

<script>
    <% unless @order.blank? %>
    var orderId = <%= @order.id %>;
    var orderData = {
        status: '<%= @order.status.label %>',
        <% unless @order.address.blank? || @order.address.latitude.blank? || @order.address.longitude.blank? %>
        customer_lat: <%= @order.address.latitude %>,
        customer_lng: <%= @order.address.longitude %>,
        <% end %>

        <% unless @order.warehouse.blank? || @order.warehouse.address.blank?  %>
        warehouse_lat: <%= @order.warehouse.address.latitude %>,
        warehouse_lng: <%= @order.warehouse.address.longitude %>
        <% end %>
    };

    var orderChangeTimeOutSeconds = <%= @order.order_change_timeout_seconds %>;

    <% end %>

</script>
