<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Referrals</h3>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>Promotion</th>
      <th>Code</th>
      <th>Existing User</th>
      <th>Referred User</th>
      <th>Created At</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @referrals.each do |referral| %>
        <tr>
          <td><%= referral.id %></td>
          <td><%= referral.promotion_code.blank? ? 'old' : referral.promotion_code.promotion.title %></td>
          <td><%= referral.promotion_code.blank? ? 'old' : referral.promotion_code.code %></td>
          <td>
            <% if referral.existing_user.blank? %>
                Old Referral
            <% else %>
                <%= link_to admin_user_path(referral.existing_user) do %>
                    <%= "#{referral.existing_user.id} - #{referral.existing_user.name} - #{referral.existing_user.email}" %>
                <% end %>
            <% end %>
          </td>
          <td>
            <% if referral.referred_user.blank? %>
                Old Referral
            <% else %>
                <%= link_to admin_user_path(referral.referred_user) do %>
                    <%= "#{referral.referred_user.id} - #{referral.referred_user.name} - #{referral.referred_user.email}" %>
                <% end %>
            <% end %>
          </td>
          <td><%= referral.created_at %></td>
          <td class="button-wrapper">
            <%= link_to admin_referral_path(referral, :page => params[:page]), class: 'btn btn-default' do %>
                <i class="glyphicon glyphicon-search"></i>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-4">
          <%= link_to admin_promotions_path, class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back To Promotion
          <% end %>
          <%= link_to 'New User Referral', new_admin_referral_path, :class => 'btn btn-primary' %>
        </div>
        <div class="col-xs-8 text-right">
          <%= will_paginate @referrals, :class => 'vyne_pagination' %>
        </div>
      </div>
    </li>
  </ul>
</div>



