<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Referral Details</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Id:</strong>
          <%= @referral.id %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Promotion Code:</strong>
          <%= @referral.promotion_code.blank? ? 'old' : @referral.promotion_code.code %>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Promotion:</strong>
          <%= @referral.promotion_code.blank? ? 'old' : @referral.promotion_code.promotion.title %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Existing User:</strong>
          <% unless @referral.existing_user.blank? %>
              <%= link_to admin_user_path(@referral.existing_user) do %>
                  <%= @referral.existing_user.name %> - <%= @referral.existing_user.email %>
              <% end %>
          <% end %>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Referred User:</strong>
          <% unless @referral.referred_user.blank? %>
              <%= link_to admin_user_path(@referral.referred_user) do %>
                  <%= @referral.referred_user.name %> - <%= @referral.referred_user.email %>
              <% end %>
          <% end %>
        </div>
      </div>
    </li>

  </ul>

  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6">
        <%= link_to admin_referrals_path, class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back To Referrals
        <% end %>
        <%= link_to edit_admin_referral_path(@referral), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        <% end %>
      </div>
      <div class="col-xs-6 text-right">
        <%= link_to admin_referral_path(@referral), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' do %>
            <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
