<%= form_for([:admin, @bottling]) do |f| %>
  <% if @bottling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bottling.errors.count, "error") %> prohibited this bottling from being saved:</h2>

      <ul>
      <% @bottling.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
