<%= render :partial => "layouts/winemenu" %>

<h1>Listing bottlings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bottlings.each do |bottling| %>
      <tr>
        <td><%= bottling.name %></td>
        <td class="button-wrapper">
          <%= link_to admin_bottling_path(bottling) do %>
            <i class="flaticon stroke zoom-1"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to edit_admin_bottling_path(bottling) do %>
            <i class="flaticon stroke pencil-2"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to admin_bottling_path(bottling), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="flaticon stroke trash-2"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maturation type', new_admin_bottling_path %>
