<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Promotion Details</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Id:</strong>
          <%= @promotion.id %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Title:</strong>
          <%= @promotion.title %>
          <strong>Description:</strong>
          <%= @promotion.description %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Category:</strong>
          <%= @promotion.category %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Active:</strong>
          <%= @promotion.active %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>For New Accounts Only:</strong>
          <%= @promotion.new_accounts_only %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Free Delivery:</strong>
          <% if @promotion.free_delivery.blank? %>
              false
          <% else %>
              <%= @promotion.free_delivery %>
          <% end %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Extra Bottle:</strong>
          <% if @promotion.extra_bottle.blank? %>
              false
          <% else %>
              <%= @promotion.extra_bottle %>
          <% end %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Free Bottle Category:</strong>
          <% if @promotion.free_bottle_category.blank? %>
              N/A
          <% else %>
              <%= @promotion.free_bottle_category.name %>
          <% end %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Is a referral promotion:</strong>
          <% if @promotion.referral_promotion.blank? %>
              false
          <% else %>
              <%= @promotion.referral_promotion %>
          <% end %>
        </div>
      </div>
    </li>



  </ul>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6">
        <%= link_to admin_promotions_path, class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back To Promotions
        <% end %>
        <%= link_to edit_admin_promotion_path(@promotion), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        <% end %>

        <%= link_to admin_promotion_promotion_codes_path(@promotion), class: 'btn btn-default' do %>
            <i class="glyphicon glyphicon-search"></i> Promo Codes
        <% end %>
      </div>
      <div class="col-xs-6 text-right">
        <%= link_to admin_promotion_path(@promotion), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' do %>
            <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Participating Warehouses</h3>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Warehouse Id</th>
      <th>Title</th>
      <th>Active</th>
      <th>Extra Bottle Price Range</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% unless @warehouse_promotions.blank? %>
        <% @warehouse_promotions.each do |warehouse_promotions| %>
            <tr>
              <td><%= warehouse_promotions.id %></td>
              <td><%= warehouse_promotions.warehouse.title %></td>
              <td><%= warehouse_promotions.active %></td>
              <td>(<%= warehouse_promotions.extra_bottle_price_min %>
                - <%= warehouse_promotions.extra_bottle_price_max %>)
              </td>
              <td class="button-wrapper">
                <%= link_to edit_admin_promotion_warehouse_promotion_path(@promotion, warehouse_promotions), class: 'btn btn-default' do %>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <% end %>
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>

  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-12">
        <%= link_to new_admin_promotion_warehouse_promotion_path(@promotion), class: 'btn btn-primary' do %>
            Add
        <% end %>
      </div>
    </div>
  </div>
</div>