<h3><div>Wine Cost Total: £<%= @order.total_wine_cost%> - Order Price Total £<%= @order.total_price%></div></h3>
<table border="1" class="list-table">
  <thead>
  <tr>
    <td>Pickup Start</td>
    <td>Pickup Finish</td>
    <td>Delivery Start</td>
    <td>Delivery Finish</td>
    <td>Offer Valid Until</td>
    <td>Vehicle</td>
    <td>Price</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% @quotes['quote_collection']['quotes'].each do |quote| %>
      <tr>
        <td><%= Time.parse(quote['pickup_start']).strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= Time.parse(quote['pickup_finish']).strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= Time.parse(quote['delivery_start']).strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= Time.parse(quote['delivery_finish']).strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= Time.parse(quote['valid_until']).strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= quote['vehicle'] %></td>
        <td>£<%= (quote['merchant_price'].to_f / 100) %></td>
        <td data-id="<%= quote['id'] %>"
            data-price="<%= (quote['merchant_price'].to_f / 100) %>"
            data-vehicle="<%= quote['vehicle'] %>"
            data-pickup_start="<%= quote['pickup_start'] %>"
            data-pickup_finish="<%= quote['pickup_finish'] %>"
            data-delivery_start="<%= quote['delivery_start'] %>"
            data-delivery_finish="<%= quote['delivery_finish'] %>"
            data-valid_until="<%= quote['valid_until'] %>">
          <a href="#" class="choose-quote">Choose</a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<form method="post" action="/admin/advise/complete" id="choose-form">
  <input type="hidden" id="order" name="order" value="<%= @order.id %>"/>
  <input type="hidden" id="quote" name="quote"/>
  <input type="hidden" id="price" name="price"/>
  <input type="hidden" id="vehicle" name="vehicle"/>
  <input type="hidden" id="pickup_start" name="pickup_start"/>
  <input type="hidden" id="pickup_finish" name="pickup_finish"/>
  <input type="hidden" id="delivery_start" name="delivery_start"/>
  <input type="hidden" id="delivery_finish" name="delivery_finish"/>
  <input type="hidden" id="valid_until" name="valid_until" value="<%= @order.id %>"/>
  <%= hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token) %>
</form>

<script>
  $('.choose-quote').click(function() {
      var $a = $(event.target);
      var $td = $a.parent();
      var response = confirm("You chose to schedule: " + $td.data('vehicle') + ' - for: ' + $td.data('price') +
              '\nWe will charge customer and schedule delivery.');
      if (response == true) {
          $('#quote').val($td.data('id'));
          $('#price').val($td.data('price'));
          $('#vehicle').val($td.data('vehicle'));
          $('#pickup_start').val($td.data('pickup_start'));
          $('#pickup_finish').val($td.data('pickup_finish'));
          $('#delivery_start').val($td.data('delivery_start'));
          $('#delivery_finish').val($td.data('delivery_finish'));
          $('#valid_until').val($td.data('valid_until'));
          $('#choose-form').submit();
      }
  });
</script>