<h3><div>Order Cost Total: £<%= @order.total_cost%> - Order Price Total £<%= @order.total_price%></div></h3>
<table border="1" class="list-table">
  <thead>
  <tr>
    <td>Pickup Start</td>
    <td>Pickup Finish</td>
    <td>Delivery Start</td>
    <td>Delivery Finish</td>
    <td>Offer Valid Until</td>
    <td>Vehicle</td>
    <td>Price</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% @quotes['quote_collection']['quotes'].each do |quote| %>
      <tr>
        <td><%= Time.parse(quote['pickup_start']).strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= Time.parse(quote['pickup_finish']).strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= Time.parse(quote['delivery_start']).strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= Time.parse(quote['delivery_finish']).strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= Time.parse(quote['valid_until']).strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= quote['vehicle'] %></td>
        <td>£<%= '%.2f' % (quote['merchant_price']/100) %></td>
        <td data-id="<%= quote['id'] %>"
            data-price="<%= '%.2f' % (quote['merchant_price']/100) %>"
            data-vehicle="<%= quote['vehicle'] %>">
          <a href="#" class="choose-quote">Choose</a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<form method="post" action="/admin/advise/complete" id="choose-form">
  <input type="hidden" id="quote" name="quote"/>
  <input type="hidden" id="order" name="order" value="<%= @order.id %>"/>
  <%= hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token) %>
</form>

<script>
  $('.choose-quote').click(function() {
      var $a = $(event.target);
      var $td = $a.parent();
      var response = confirm("You chose to schedule: " + $td.data('vehicle') + ' - for: ' + $td.data('price') +
              '\nWe will charge customer and schedule delivery.');
      if (response == true) {
          $('#quote').val($td.data('id'));
          $('#choose-form').submit();
      }
  });
</script>