
<div class="advisor-area">
    <div id="orders-header">
        <h2>Orders to be advised</h2>
    </div>

    <div id="order-list">

          <table border="1">
            <thead>
                <tr>
                  <th>Order Id</th>
                  <th>Created</th>
                  <th>Client Name</th>
                  <th>Mobile</th>
                  <th>Post Code</th>
                  <th></th>
                </tr>
            </thead>
            <tbody>
            <% @orders.each do |order|  %>
            <tr class="order">
              <td class="client">Order Id: <%= order.id %></td>
              <td class="client"><%= order.created_at %></td>
              <td class="client"><%= order.client.name %></td>
              <td class="phone"><%= order.client.mobile %></td>
              <td class="postcode"><%= order.address.postcode %></td>
              <td class="actions"><a href="/admin/orders/<%= order.id %>">Advise Order</a></td>
            </tr>
            <% end %>
            </tbody>
          </table>
    </div>
</div>
<div id="confirmation-area" class="shadow" style="display:none;">
    <div id="confirmation-screen">
        <dl class="">
          <dt>Customer</dt>
          <dd id="confirm-name"></dd>
          <dt>Address</dt>
          <dd id="confirm-address"></dd>
          <dt>Wine</dt>
          <dd id="confirm-wine"></dd>
          <dt>Price</dt>
          <dd id="confirm-price"></dd>
        </dl>
        <p>Delivery options (estimations)</p>
        <div id="loading">
            <div style="height:19px"><%= image_tag "placeholders/top.gif", :alt => "Loading data..." %></div>
            <div style="height:44px"><%= image_tag "placeholders/middle.gif", :alt => "Loading data..." %></div>
            <div style="height:73px"><%= image_tag "placeholders/bottom.gif", :alt => "Loading data..." %></div>
            <br />
            <small>Loading delivery options...</small>
        </div>
        <ul id="delivery_quotes">
            <!-- <li><a href="#">10/02/2014 - 10:32 - £6.45</a></li> -->
        </ul>
        <div class="shadow-footer">
            <a href="#" id="cancel-confirmation">Cancel</a>
            <a href="#" id="confirm" class="disabled">Confirm</a>
        </div>
    </div>
</div>