<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Customer Preferences Selection</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-12">
              Category: <strong>&pound;<%= '%.2f' % @order_item.category.merchant_price_min %></strong> to
              <strong>&pound;<%= '%.2f' % @order_item.category.merchant_price_max %></strong>
              (<%= @order_item.category.name.capitalize %>)
              <%= @order_item.preferences.to_sentence(last_word_connector: ' and ').capitalize %>.
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<% if !@order_item.wine.nil? %>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Already Selected Wine</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-12">
                  <%= @order_item.wine.full_info %> - Price: £<%= @order_item.cost %> - SKU: <%= @order_item.inventory.nil? ? '' : ' - ' + @order_item.inventory.vendor_sku %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  Advisory Note: <%= @order_item.advisory_note.blank? ? 'N/A' : @order_item.advisory_note %>
                  <button id="edit-advisory-note-btn" class="btn btn-default btn-xs" data-toggle="modal" data-target="#edit-advisory-note-modal"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                  <input type="hidden" id="existing-advisory-note" value="<%= @order_item.advisory_note %>" />
                  <input type="hidden" id="existing-wine-id" value="<%= @order_item.wine.id %>" />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <% if @order_item.substitution_status == 'requested' %>
                      <span class="text-warning">Reason for Substitution Request: <%= @order_item.substitution_request_note %></span>
                  <% end %>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Search by wine name, vintage, producer etc...</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group">
                <input type="text" id="search-wine" autocomplete="off" placeholder="Search wines..." class="form-control">
                <span class="input-group-addon">
                    <input type="checkbox" id="tick-sing" name="single"> Single estate
                  </span>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-12 text-right">
              <% @categories.each do |category| %>
                  <input type="checkbox" class="tick-category" name="tick-cat-<%= category.id %>"
                         <% if @order_item.category.id == category.id %>
                         checked="checked"
                         <% end %>
                         />
                  <label for="tick-cat-<%= category.name %>">
                    &pound;<%= '%.2f' % category.merchant_price_min %>
                    to &pound;<%= '%.2f' % category.merchant_price_max %>
                    (<%= category.name.capitalize %>)
                  </label>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search Results</h3>
  </div>
  <table id="wine-list" class="table table-bordered">

  </table>
</div>

<input type="hidden" id="order-id" name="order-id" value="<%= @order.id %>"/>

<form method="post" action="/admin/advise/item/<%= @order_item.id %>" id="update-form">
  <input type="hidden" id="wine-id" name="wine_id"/>
  <input type="hidden" id="advisory-note" name="advisory_note"/>
  <%= hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token) %>
</form>

<%= link_to 'Back to order details', admin_order_path(@order), :class => 'btn btn-primary' %>

<!-- Modal Wine Note -->
<div class="modal fade" id="wine-advisory-note-modal" tabindex="-1" role="dialog" aria-labelledby="wine-advisory-note-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Note for Customer</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 text-center">
            <input id="advisory-note-text" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-6 text-left">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          <div class="col-xs-6 text-right">
            <a id="advisory-note-save" class="btn btn-default">Save</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-advisory-note-modal" tabindex="-1" role="dialog" aria-labelledby="edit-advisory-note-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Note for Customer</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 text-center">
            <input id="edit-advisory-note-text" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-6 text-left">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          <div class="col-xs-6 text-right">
            <a id="edit-advisory-note-save" class="btn btn-default">Save</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Wine Info -->
<div class="modal fade" id="wine-additional-info" tabindex="-1" role="dialog" aria-labelledby="wine-additional-info" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Additional Information</h4>

      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 text-center">
            <strong>Grape Composition:</strong> <span id="modal-composition"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <strong><span id="modal-single-estate"></span></strong>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-6 text-left">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          <div class="col-xs-6 text-right">
            <a id="modal-inventory" class="btn btn-default">Manage in Inventory</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Not moving these styles to global CSS. Just need to center modal on this page. Probably will have to re-think it. -->
<style>
    .modal-dialog {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .modal-body {
        overflow-y: auto;
    }

    .modal-footer {
        margin-top: 0;
    }

    @media (max-width: 767px) {
        .modal-dialog {
            width: 100%;
        }
    }
</style>

<script>

    function adjustModalMaxHeightAndPosition() {
        $('.modal').each(function () {
            if ($(this).hasClass('in') == false) {
                $(this).show();
            }
            ;
            var contentHeight = $(window).height() - 60;
            var headerHeight = $(this).find('.modal-header').outerHeight() || 2;
            var footerHeight = $(this).find('.modal-footer').outerHeight() || 2;

            $(this).find('.modal-content').css({
                'max-height': function () {
                    return contentHeight;
                }
            });

            $(this).find('.modal-body').css({
                'max-height': function () {
                    return (contentHeight - (headerHeight + footerHeight));
                }
            });

            $(this).find('.modal-dialog').css({
                'margin-top': function () {
                    return -($(this).outerHeight() / 2);
                },
                'margin-left': function () {
                    return -($(this).outerWidth() / 2);
                }
            });
            if ($(this).hasClass('in') == false) {
                $(this).hide();
            }
            ;
        });
    }
    ;

    $(window).resize(adjustModalMaxHeightAndPosition).trigger("resize");


</script>