<p><%= @order_item.to_json %></p>
<p><%= @order.to_json %></p>
<p><%= @order.client.to_json %></p>

<p>
<input type="text" id="warehouses_ids" value="<%= (@order.information['warehouses'].map { |w| w['id']}).join(",") %>" />
<div class="advisor-area">
  <div id="wine-filters">
    <input type="text" id="search" autocomplete="off" placeholder="Search wines..."/>
    <input type="checkbox" id="tick-sing" name="single"/><label for="single"> Single estate</label>
    <input type="checkbox" id="tick-vegn" name="vegan"/><label for="vegan">Vegan</label>
    <input type="checkbox" id="tick-orgc" name="organic"/><label for="organic">Organic</label>

    <div style="float:right">
      <% @categories.each do |category| %>
          <input type="checkbox" class="tick-category" name="tick-cat-<%= category.id %>"
          <% if @order_item.category.id == category.id %>
                  checked="checked"
          <% end %>
          />
          <label for="tick-cat-<%= category.name %>">
            &pound;<%= category.price %>
            (<%= category.name.capitalize %>)
          </label>
      <% end %>
    </div>
  </div>
  <div id="wine-list"></div>
</div>
</p>

