<div class="inner wrapper wrapper-large">
    <h2>Sign in</h2>
    <%= form_for(resource,
    as: resource_name,
    :html => {:class => "sign-in-form"},
    url: session_path(resource_name)) do |f| %>
        <fieldset>
            <div>
                <%=
                f.email_field :email,
                autofocus: true,
                :type => "email",
                :placeholder => "example@gmail.com"
                %>
            </div>
            <div>
                <%=
                f.password_field :password,
                autocomplete: "off",
                :placeholder => "Password"
                %>
            </div>

              <% flash.each do |name, msg| -%>
                  <%= content_tag :div, msg, class: name %>
              <% end -%>

            <%= f.submit "Sign In" %>
        </fieldset>
    <% end %>
    <div class="form-links">
    <%= render "devise/shared/links" %>
    </div>
</div>

