<h1>Listing roles</h1>
<small>Be careful! This table is essential for the correct workflow of this system!</small>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.id %></td>
        <td><%= role.name %></td>
        <td class="button-wrapper">
          <%= link_to admin_role_path(role) do %>
            <i class="flaticon stroke zoom-1"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to edit_admin_role_path(role) do %>
            <i class="flaticon stroke pencil-2"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to admin_role_path(role), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="flaticon stroke trash-2"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_admin_role_path %>
