<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Devices</h3>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>Key</th>
      <th>Warehouse</th>
      <th>Registration Id</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @devices.each do |device| %>
        <tr>
          <td><%= device.id %></td>
          <td><%= device.key %></td>
          <td><%= device.warehouse.blank? ? 'unassigned' : device.warehouse.title %></td>
          <td><%= device.registration_id.blank? ? 'unregistered' : device.registration_id[0...20] + '...' %></td>
          <td class="button-wrapper">
            <%= link_to admin_device_path(device, :page => params[:page]), class: 'btn btn-default' do %>
                <i class="glyphicon glyphicon-search"></i>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to 'New Device', new_admin_device_path, :class => 'btn btn-primary' %>
    </li>
  </ul>
</div>



