<h1>Listing wine_foods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wine_foods.each do |wine_food| %>
      <tr>
        <td><%= wine_food.name %></td>
        <td><%= link_to 'Show', wine_food %></td>
        <td><%= link_to 'Edit', edit_wine_food_path(wine_food) %></td>
        <td><%= link_to 'Destroy', wine_food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine food', new_wine_food_path %>
