<h1>Listing subregions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Region</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subregions.each do |subregion| %>
      <tr>
        <td><%= subregion.name %></td>
        <td><%= subregion.region.name %></td>
        <td class="button-wrapper">
          <%= link_to subregion do %>
            <i class="flaticon stroke zoom-1"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to edit_subregion_path(subregion) do %>
            <i class="flaticon stroke pencil-2"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to subregion, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="flaticon stroke trash-2"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subregion', new_subregion_path %>
