<section id="user-account" class="section section-dark vyne-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-xs-12">
              <%= render 'layouts/message' %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <h3 class="app-title">
                Your Account
              </h3>

              <div class="row">
                <div class="col-xs-12">
                  <div class="animated fadeIn description-content">
                    <span class="description">Name:</span> <span class="content"><%= current_user.name %></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="animated fadeIn description-content">
                    <span class="description">Email:</span> <span class="content"><%= current_user.email %></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="animated fadeIn description-content">
                    <span class="description">Mobile:</span> <span class="content"><%= current_user.mobile %></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="animated fadeIn">
                    <a href="/users/edit" class="btn btn-primary">Edit</a>
                  </div>
                  <div class="divider-short gray fat"></div>
                  <div class="animated fadeIn ">
                    <%= link_to mywines_path, class: 'btn btn-default' do %>
                        <i class="fa fa-briefcase"></i> My Wines
                    <% end %>
                  </div>
                  <div class="divider-short gray fat"></div>
                  <div class="animated fadeIn ">
                    <%= link_to promo_index_path, class: 'btn btn-default' do %>
                        <i class="fa fa-gift"></i> Promotions
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>







