<section id="user-account" class="section section-dark vyne-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-xs-12">
              <%= render 'layouts/message' %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <h3 class="app-title">
                Your Account
              </h3>

              <div class="row">
                <div class="col-xs-12">
                  <div class="animated fadeIn description-content">
                    <span class="description">Name:</span> <span class="content"><%= current_user.name %></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="animated fadeIn description-content">
                    <span class="description">Email:</span> <span class="content"><%= current_user.email %></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="animated fadeIn description-content">
                    <span class="description">Mobile:</span> <span class="content"><%= current_user.mobile %></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="animated fadeIn">
                    <a href="/users/edit" class="btn btn-primary">Edit</a>
                  </div>
                  <div class="divider-short gray fat"></div>
                  <div class="animated fadeIn ">
                    <%= link_to mywines_path, class: 'btn btn-default' do %>
                        <i class="fa fa-briefcase"></i> My Wines
                    <% end %>
                  </div>
                </div>
              </div>

            </div>

            <% unless @promo_codes.blank? %>
                <div class="col-sm-4 col-xs-12">
                  <h3 class="app-title">
                    Share Your Promo Code
                  </h3>
                  <div class="row">
                    <div class="col-xs-12">
                      <p>Your active promo codes:</p>
                      <% @promo_codes.each do |code| %>
                          <div>Code: <%= code %></div>
                      <% end %>
                    </div>
                  </div>
                </div>
            <% end %>

            <% unless current_user.user_promotions.blank? %>
                <div class="col-sm-5 col-xs-12">
                  <h3 class="app-title">
                    Your Promotions
                  </h3>

                  <% unless @redeemable_promotions.blank? %>

                      <div>You have pending promotions that can be applied to your account:</div>
                      <% @redeemable_promotions.each do |promo| %>
                          <% if promo.sign_up_reward? %>
                              <p> Thank for signing up for vyne account with promo
                                code: <%= promo.referral_code.code %></p>
                          <% elsif promo.sharing_reward? %>
                              <p>Your friend <%= promo.friend.name %> signed up using your promo code.</p>
                          <% end %>
                      <% end %>
                      <div>Your promotions will be automatically applied during checkout.</div>

                  <% end %>

                  <% unless @pending_promotions.blank? %>

                      <div>You have promotions that are not yet activate:</div>
                      <% @pending_promotions.each do |promo| %>
                          <% if promo.sharing_reward? %>
                              <p>Your friend <%= promo.friend.name %> signed up using your promo code but
                                have not yet made a purchase.</p>
                          <% end %>
                      <% end %>
                      <div>Your promotions will become active once your friend uses her/his promotion</div>

                  <% end %>

                  <% unless @redeemed_promotions.blank? %>
                      <div>Your redeemed promotions:</div>
                      <% @redeemed_promotions.each do |promo| %>
                          <% if promo.sign_up_reward? %>
                              <p> Thank for signing up for vyne account with promo
                                code: <%= promo.referral_code.code %></p>
                          <% elsif promo.sharing_reward? %>
                              <p>Your friend <%= promo.friend.name %> signed up using your promo code.</p>
                          <% end %>
                      <% end %>
                  <% end %>

                </div>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>







