<%= form_for([:admin, @user]) do |f| %>

    <div class="form-group">
      <%= f.label :email %> <span style="color: red">*</span>
      <br>
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :first_name %> <span style="color: red">*</span>
      <br>
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %> <span style="color: red">*</span>
      <br>
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :mobile %> <span style="color: red">*</span>
      <br>
      <%= f.text_field :mobile, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :stripe_id %>
      <br>
      <%= f.text_field :stripe_id, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %> (only if you want to change it)
      <br>
      <%= f.password_field :password, :class => 'form-control' %>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Addresses</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">

            <% if @user.addresses %>
                <%= f.fields_for :addresses do |c| %>
                    <div class="form-group">
                      <%= c.label :company_name %>
                      <br/>
                      <%= c.text_field :company_name, :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= c.label :line_1 %>
                      <br/>
                      <%= c.text_field :line_1, :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= c.label :line_2 %>
                      <br/>
                      <%= c.text_field :line_2, :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= c.label :postcode %>
                      <br/>
                      <%= c.text_field :postcode, :class => 'form-control' %>
                    </div>
                    <br/>
                <% end %>
            <% end %>
            <a href="#" class="add_nested_field btn btn-primary" data-parent-entity="user" data-nested-entity="addresses" data-field-name="company_name,line_1,line_2,postcode" data-last-sum="<%= @user.addresses.count %>">Add
              address</a>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :active %>
      <br>
      <%= f.check_box :active %>
    </div>

    <div class="form-group">
      <label>Roles</label>
      <% @roles.each do |role| %>
          <p>
            <%= check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role) %>
            <%= label_tag 'role_ids_' + role.id.to_s, role.name %>
          </p>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit(:class => 'btn btn-success') %>
    </div>
<% end %>
