<%= form_for([:admin, @user]) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :email %>
      <br>
      <%= f.text_field :email %> *
    </div>
    <div class="field">
      <%= f.label :first_name %>
      <br>
      <%= f.text_field :first_name %> *
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <br>
      <%= f.text_field :last_name %> *
    </div>
    <div class="field">
      <%= f.label :mobile %>
      <br>
      <%= f.text_field :mobile %> *
    </div>
    <div class="field">
      <%= f.label :stripe_id %>
      <br>
      <%= f.text_field :stripe_id %>
    </div>
    <div class="field">
      <%= f.label :password %> (only if you want to change it)
      <br>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <br>
      <%= debug @compositions %>
      <a href="#" class="add_nested_field" data-parent-entity="user" data-nested-entity="addresses" data-field-name="detail,street,postcode" data-last-sum="<%= @user.addresses.count %>">Add
        address</a>
      <% if @user.addresses %>
          <% @user.addresses.each do |address| %>
              <%= f.fields_for :addresses do |c| %>
                  <div class="field">
                    <%= c.label :detail %>
                    <br/>
                    <%= c.text_field :detail %>
                  </div>
                  <div class="field">
                    <%= c.label :street %>
                    <br/>
                    <%= c.text_field :street %>
                  </div>
                  <div class="field">
                    <%= c.label :postcode %>
                    <br/>
                    <%= c.text_field :postcode %>
                  </div>
              <% end %>
          <% end %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :active %>
      <br>
      <%= f.check_box :active %>
    </div>
    <div class="field">
      <%= f.label :code %>
      <br>
      <%= f.text_field :code %>
    </div>

    <div class="field">
      <% @roles.each do |role| %>
          <p>
            <%= check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role) %>
            <%= label_tag 'role_ids_' + role.id.to_s, role.name %>
          </p>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
