<%= form_tag("/admin/users/", method: "get") do %>
  <%= label_tag(:s, "Search for:") %>
  <div class="search-area with-button">
	  <%= text_field_tag(:s) %>
	  <%= submit_tag("Search", name: nil) %>
  </div>
<% end %>

<% unless @search %>
<%= render :partial => "list" %>
<% else %>
<%= render :partial => "search" %>
<% end %>
