<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">User</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-6">
          <strong>Id:</strong>
          <%= @user.id %>
        </div>
        <div class="col-md-6">
          <strong>Created:</strong>
          <%= @user.created_at %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>E-mail:</strong>
          <%= @user.email %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Name:</strong>
          <%= @user.name %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Mobile:</strong>
          <%= @user.mobile %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Active:</strong>
          <%= @user.active %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Addresses:</strong>
          <ul>
            <% @user.addresses.each do |address| %>
                <li><%= link_to address.full, admin_address_url(address) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Role(s):</strong>
          <%= @user.roles.map(&:name).join(" - ") %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Stripe Id:</strong>
          <%= @user.stripe_id %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>
            Stripe Cards:
          </strong>
          <% unless @user.payments.blank? %>
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Stripe Id</th>
                  <th>Last 4</th>
                  <th>Create Date</th>
                </tr>
                </thead>
                <tbody>
                <% @user.payments.each do |payment| %>
                    <tr>
                      <td><%= payment.stripe_card_id %></td>
                      <td><%= payment.number %></td>
                      <td><%= payment.created_at.strftime("%Y %b %d - %H:%M") %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% end %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Orders:</strong>
          <% @user.orders.order(:id).each do |order| %>
              <%= link_to admin_order_path(order.id) do %>
                <%= order.id %>
              <% end %>
          <% end %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Promotions:</strong>
          <% @user.user_promotions.order(:id).each do |promotion| %>
              <%= link_to admin_user_promotion_path(promotion.id) do %>
                  <%= promotion.id %>
              <% end %>
          <% end %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Referrals:</strong>
          <% @user.referrals.order(:id).each do |referral| %>
              <%= link_to admin_referral_path(referral.id) do %>
                  <%= referral.id %>
              <% end %>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6">
        <%= link_to admin_users_path, class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
        <% end %>
        <%= link_to edit_admin_user_path(@user), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        <% end %>
      </div>
      <div class="col-xs-6 text-right">
        <%= link_to admin_user_path(@user), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' do %>
            <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>


