<h1>Listing regions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= region.country.name %></td>
        <td class="button-wrapper">
          <%= link_to region do %>
            <i class="flaticon stroke zoom-1"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to edit_region_path(region) do %>
            <i class="flaticon stroke pencil-2"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to region, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="flaticon stroke trash-2"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Region', new_region_path %>
