<h1>Listing wine_allergies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wine_allergies.each do |wine_allergy| %>
      <tr>
        <td><%= wine_allergy.name %></td>
        <td><%= link_to 'Show', wine_allergy %></td>
        <td><%= link_to 'Edit', edit_wine_allergy_path(wine_allergy) %></td>
        <td><%= link_to 'Destroy', wine_allergy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine allergy', new_wine_allergy_path %>
