<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-3">
        <h3 class="panel-title">Wines</h3>
      </div>
      <div class="col-md-9">
        <%= will_paginate @wines, :class => 'vyne_pagination' %>
      </div>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>Key</th>
      <th>Origin</th>
      <th>Name</th>
      <th>Vintage</th>
      <th>Producer</th>
      <th>Region</th>
      <th>Sub-region</th>
      <th>Appellation</th>
      <th>Type</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @wines.each do |wine| %>
        <tr>
          <td><%= wine.id %></td>
          <td><%= wine.wine_key %></td>
          <td>
            <%= image_tag "flags/#{wine.producer.country.alpha_2}.png", :alt => wine.producer.country.name %>
          </td>
          <td><%= wine.name %></td>
          <td><%= wine.vintage %></td>
          <td><%= if wine.producer.nil? then
                    ' - '
                  else
                    wine.producer.name
                  end %></td>
          <td><%= if wine.region.nil? then
                    ' - '
                  else
                    wine.region.name
                  end %></td>
          <td><%= if wine.subregion.nil? then
                    ' - '
                  else
                    wine.subregion.name
                  end %></td>
          <td><%= if wine.appellation.nil? then
                    ' - '
                  else
                    wine.appellation.name
                  end %></td>
          <td><%= wine.type.name %></td>

          <td class="button-wrapper">
            <%= link_to admin_wine_path(wine), class: 'btn btn-default' do %>
                <i class="glyphicon glyphicon-search"></i>
            <% end %>

          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to upload_admin_wines_path, class: 'btn btn-default' do %>
          <i class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></i> Upload
      <% end %>
      <%= link_to 'New Wine', new_admin_wine_path, :class => 'btn btn-primary' %>
    </li>
  </ul>
</div>

