<%= render :partial => "layouts/winemenu" %>

<h1>Listing wines</h1>
<table border="1" class="list-table">
  <thead>
    <tr>
      <th>Origin</th>
      <th>Name</th>
      <th>Vintage</th>
      <th>Producer</th>
      <th>Sub-region</th>
      <th>Area</th>
      <th>Appellation</th>
      <th>Types</th>
      <th>Grapes</th>
      <th>Single estate</th>
      <!-- <th>Alcohol</th> -->
      <!-- <th>Sugar</th> -->
      <!-- <th>Acidity</th> -->
      <!-- <th>Ph</th> -->
      <!-- <th>Occasions</th> -->
      <!-- <th>Foods</th> -->
      <!-- <th>Notes</th> -->
      <!-- <th>Allergies</th> -->
      <!-- <th>Maturation</th> -->
      <!-- <th>Vegetarian</th> -->
      <!-- <th>Vegan</th> -->
      <!-- <th>Organic</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td>
          <%= image_tag "flags/#{wine.producer.country.alpha_2}.png", :alt => wine.producer.country.name %>
        </td>
        <td><%= wine.name %></td>
        <td><%= wine.vintage %></td>
        <td><%= if wine.producer.nil? then ' - ' else wine.producer.name end %></td>
        <td><%= if wine.subregion.nil? then ' - ' else wine.subregion.name end %></td>
        <td><%= wine.area %></td>
        <td><%= if wine.appellation.nil? then ' - ' else wine.appellation.name end %></td>
        <td><%= wine.types.map(&:name).join(",") %></td>
        <td><%= wine.grapes.map(&:name).join(",") %></td>
        <td><%= wine.single_estate %></td>
        <!-- <td><%= wine.alcohol %></td> -->
        <!-- <td><%= wine.sugar %></td> -->
        <!-- <td><%= wine.acidity %></td> -->
        <!-- <td><%= wine.ph %></td> -->
        <!-- <td><%= wine.occasions.map(&:name).join(",") %></td> -->
        <!-- <td><%= wine.foods.map(&:name).join(",") %></td> -->
        <!-- <td><%= wine.notes.map(&:name).join(",") %></td> -->
        <!-- <td><%= wine.allergies.map(&:name).join(",") %></td> -->
        <!-- <td><%= wine.maturation %></td> -->
        <!-- <td><%= wine.vegetarian %></td> -->
        <!-- <td><%= wine.vegan %></td> -->
        <!-- <td><%= wine.organic %></td> -->
        <td class="button-wrapper">
          <%= link_to admin_wine_path(wine) do %>
            <i class="flaticon stroke zoom-1"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to edit_admin_wine_path(wine) do %>
            <i class="flaticon stroke pencil-2"></i>
          <% end %>
        </td>
        <td class="button-wrapper">
          <%= link_to admin_wine_path(wine), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="flaticon stroke trash-2"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine', new_admin_wine_path %>
