<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @wine.id %>
</p>

<p>
  <strong>Key:</strong>
  <%= @wine.wine_key %>
</p>

<p>
  <strong>Origin</strong>
  <%= image_tag "flags/#{@wine.producer.country.alpha_2}.png", :alt => @wine.producer.country.name %> - <%= @wine.producer.country.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Vintage:</strong>
  <%= @wine.vintage %>
</p>

<p>
  <strong>Producer:</strong>
  <%= if @wine.producer.nil? then 'Unknown' else @wine.producer.name end %>
</p>
<p>
  <strong>Sub-region:</strong>
  <%= if @wine.subregion.nil? then 'Unknown' else @wine.subregion.name end %>
</p>

<p>
  <strong>Appellation:</strong>
  <%= if @wine.appellation.nil? then 'Unknown' else @wine.appellation.name end %>
</p>

<p>
  <strong>Type:</strong>
  <%= @wine.type.name %>
</p>


<% if @wine.composition %>
<p>
  <strong>Composition:</strong>
  <%= @wine.composition.composition_grapes.map { |comp| comp.grape.name}.join(', ') %>
</p>
<% end %>

<p>
  <strong>Single estate:</strong>
  <%= @wine.single_estate %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @wine.alcohol %>
</p>

<p>
  <strong>Note</strong>
  <%= @wine.note %>
</p>

<p>
  <strong>Maturation:</strong>
  <%= if @wine.maturation.nil? then ' - ' else @wine.maturation.description end %>
</p>

<%= link_to 'Edit', edit_admin_wine_path(@wine) %>
<%= link_to 'Back', admin_wines_path %>
