<%= form_for(@wine) do |f| %>
  <% if @wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>
      <ul>
      <% @wine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :vintage %><br>
    <%= f.number_field :vintage %>
  </div>
  <div class="field">
    <%= f.label :producer_id %><br>
    <%= f.select :producer_id, options_from_collection_for_select(@producers, "id", "name", :selected => @wine.producer_id),
        :prompt => "Choose a producer" %>
  </div>
  <div class="field">
    <%= f.label :subregion_id %><br>
    <%= f.select :subregion_id,
        options_from_collection_for_select(@subregions, "id", "name", :selected => @wine.subregion_id),
        :prompt => "Choose a sub-region"
    %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :appellation_id %><br>
    <%= f.select :appellation_id,
        options_from_collection_for_select(@appellations, "id", "name", :selected => @wine.appellation_id),
        :prompt => "Choose an appellation"
    %>
  </div>
  <div class="field">
    <%= f.label :type_ids %><br>
    <% @types.each do |type| %>
      <p>
        <%= check_box_tag 'wine[type_ids][]', type.id, @wine.types.include?(type) %>
        <!-- , id: 'type_ids_' + type.id.to_s  -->
        <%= label_tag 'type_ids_' + type.id.to_s, type.name %>
      </p>
    <% end %>
    <% # f.fields_for :wine_types do |builder| %>
      <% # render "types", :f => builder %>
    <% # end %>
  </div>
  <div class="field red">
    <%= f.label :grape %><br>
    <%= @grapes %>
  </div>
  <div class="field">
    <%= f.label :single_estate %><br>
    <%= f.check_box :single_estate %>
  </div>
  <div class="field">
    <%= f.label :alcohol %><br>
    <%= f.number_field :alcohol %>
  </div>
  <div class="field">
    <%= f.label :sugar %><br>
    <%= f.number_field :sugar %>
  </div>
  <div class="field">
    <%= f.label :acidity %><br>
    <%= f.number_field :acidity %>
  </div>
  <div class="field">
    <%= f.label :ph %><br>
    <%= f.number_field :ph %>
  </div>
  <div class="field">
    <%= f.label :occasion_tokens, "Occasions" %><br>
    <%= f.text_field :occasion_tokens, "data-pre" => @wine.occasions.map(&:attributes).to_json %>
  </div>
  <div class="field">
    <%= f.label :food_tokens, "Foods" %><br>
    <%= f.text_field :food_tokens, "data-pre" => @wine.foods.map(&:attributes).to_json %>
  </div>
  <div class="field">
    <%= f.label :note_tokens, "Notes" %><br>
    <%= f.text_field :note_tokens, "data-pre" => @wine.notes.map(&:attributes).to_json %>
  </div>
  <div class="field red">
    <%= f.label :allergies %><br>
    <%= @allergies %>
  </div>
  <div class="field red">
    <%= f.label :maturation %><br>
    <%= @maturations %>
  </div>
  <div class="field">
    <%= f.label :vegetarian %><br>
    <%= f.check_box :vegetarian %>
  </div>
  <div class="field">
    <%= f.label :vegan %><br>
    <%= f.check_box :vegan %>
  </div>
  <div class="field">
    <%= f.label :organic %><br>
    <%= f.check_box :organic %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
