<!-- HEADER
  ================================= -->
<header id="header" class="header-section section section-dark navbar navbar-fixed-top">

  <div class="container-fluid">

    <div class="navbar-header navbar-left">

      <!-- RESPONSIVE MENU BUTTON -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <!-- HEADER LOGO -->
      <% if controller_name == 'home' && action_name == 'index' %>

          <a class="navbar-logo navbar-brand anchor-link" href="#hero">
            <img src="<%= asset_path('logo@2x.png') %>" srcset="<%= asset_path('logo@2x.png') %> 2x" alt="Vyne">
          </a>

      <% else %>

          <a class="navbar-logo navbar-brand" href="/">
            <img src="<%= asset_path('logo@2x.png') %>" srcset="<%= asset_path('logo@2x.png') %> 2x" alt="Vyne">
          </a>

      <% end %>

    </div>

    <nav id="navigation" class="navigation navbar-collapse collapse navbar-right">

      <!-- NAVIGATION LINKS -->
      <ul id="header-nav" class="nav navbar-nav">

        <li><a href="#hero" class="hidden">Top</a></li>

        <% if controller_name == 'home' && action_name == 'index' %>
            <li><a href="#how-it-works">How it Works</a></li>
            <li><a href="#about">Discover</a></li>
        <% else %>
            <li><a href="/#how-it-works" class="external">How it Works</a></li>
            <li><a href="/#about" class="external">Discover</a></li>
        <% end %>

        <% if user_signed_in? %>

            <li>
              <%= link_to 'My wines', mywines_path, class: 'external' %>
            </li>

            <% if current_user.has_role?(:supplier) ||
                    current_user.has_role?(:admin) ||
                    current_user.has_role?(:superadmin)
            %>
                <li>
                  <%= link_to 'Admin', admin_root_path, data: {no_turbolink: true}, class: 'external' %>
                </li>
            <% end %>

            <li>
              <%= link_to 'Sign out', logout_path, :method => :delete, class: 'external' %>
            </li>

        <% else %>
            <li>
              <%= link_to 'Sign in', login_path, class: 'external' %>
            </li>
        <% end %>

        <% if params[:controller] == 'home' && action_name == 'index' %>
            <li class="header-action-button"><a href="#hero" class="btn btn-primary">Check Availability</a></li>
        <% else %>
            <li class="header-action-button"><a href="/" class="btn btn-primary" class="external">Check Availability</a>
            </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>