<ul class="submenu">
  <li><%= link_to 'Producers', admin_producers_path %></li>
  <li><%= link_to 'Regions', admin_regions_path %></li>
  <li><%= link_to 'Sub-regions', admin_subregions_path %></li>
  <li><%= link_to 'Locales', admin_locales_path %></li>
  <li><%= link_to 'Appellations', admin_appellations_path %></li>
  <li><%= link_to 'Maturations', admin_maturations_path %></li>
  <li><%= link_to 'Vinifications', admin_vinifications_path %></li>
  <li><%= link_to 'Grapes', admin_grapes_path %></li>
  <li><%= link_to 'Compositions', admin_compositions_path %></li>
  <li><%= link_to 'Types', admin_types_path %></li>
  <li><%= link_to 'Foods', admin_foods_path %></li>
  <li><%= link_to 'Occasions', admin_occasions_path %></li>
  <li><%= link_to 'Allergies', admin_allergies_path %></li>
  <li><%= link_to 'Bottlings', admin_bottlings_path %></li>
</ul>