<!DOCTYPE html>
<html>
<head>
  <title>Vynz</title>
  <%= stylesheet_link_tag    'admin', 'token-input-facebook', media: 'all' %>
  <script>
    var admin = true;
  </script>
  <%= javascript_include_tag 'admin', 'jquery.tokeninput', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%
if current_user.has_role?(:advisor)
  adv = true
end
if current_user.has_role?(:supplier)
  sup = true
end
if current_user.has_role?(:admin)
  adv = true
  sup = true
  adm = true
end
if current_user.has_role?(:superadmin)
  adv = true
  sup = true
  adm = true
  sup = true
end
%>

<header>
  <ul class="top-menu left">
    <li><span>VYNZ Admin</span></li>
  <% if user_signed_in? %>
    <li><span><%= current_user.email %></span></li>
  <% end %>
  </ul>
  <ul class="top-menu right">
  <% if user_signed_in? %>
    <li><%= link_to "Sign out", logout_path, :method => :delete %></li>
  <% end %>
    <li><%= link_to 'Home', home_index_path %></li>
  </ul>
  <ul class="main-menu">
  <% if sup %>
    <li class="supplier"><%= link_to 'Wines', admin_wines_path %></li>
    <li class="supplier"><%= link_to 'Inventories', admin_inventories_path %></li>
  <% end %>
  <% if adv %>
    <li class="advisor"><%= link_to 'Advise', admin_advise_index_path %></li>
  <% end %>
  <% if adm %>
    <li class="admin"><%= link_to 'Categories', admin_categories_path %></li>
    <li class="admin"><%= link_to 'Orders', admin_orders_path %></li>
    <li class="admin"><%= link_to 'Users', admin_users_path %></li>
    <li class="admin"><%= link_to 'Warehouses', admin_warehouses_path %></li>
    <li class="admin"><%= link_to 'Addresses', admin_addresses_path %></li>
  <% end %>
  <% if sup %>
    <li class="superadmin"><%= link_to 'Statuses', admin_statuses_path %></li>
    <li class="superadmin"><%= link_to 'Roles', admin_roles_path %></li>
  <% end %>
  </ul>
</header>
<div class="alerts">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% flash.each do |name, msg| -%>
      <p class="alert"><h3 style="color: red;"><%= content_tag :div, msg, class: name %></h3></p>
  <% end -%>
</div>

<div class="main-wrapper">
  <div class="main">
<%= yield %>
  </div>
</div>
<% if current_user.has_role?(:superadmin) %>
<footer>
  <p>user signed_in?: <%= debug user_signed_in? %></p>
  <p>current_user: <%= debug current_user%></p>
  <p>user_session: <%= debug user_session%></p>
</footer>
<% end %>

</body>
</html>
