<!DOCTYPE html>
<html>
<head>
  <title>Vynz</title>
  <%= stylesheet_link_tag    'application', 'token-input-facebook', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'jquery.tokeninput', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="inline">
      <% if user_signed_in? %>
        <%= current_user.email %>
        <%= link_to "sign out", destroy_user_session_path, :method => :delete %>
        <% if current_user.has_role?(:supplier) || current_user.has_role?(:admin) || current_user.has_role?(:superadmin) %>
          <%= link_to 'Admin', producers_path %>
        <% end %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
      <% end %>
    </div>

  </header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="main">
  <%= yield %>
</div>
</body>
</html>
