<!DOCTYPE html>
<html>
<head>
  <title>Vynz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><%= link_to 'Home', home_index_path %></li>
  <li><%= link_to 'Producers', producers_path %></li>
  <li><%= link_to 'Regions', regions_path %></li>
  <li><%= link_to 'Sub-regions', subregions_path %></li>
</ul>

<%= yield %>

</body>
</html>
