<!DOCTYPE html>
<html>
<head>
  <title>Vynz</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0 " /> -->
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>

  <div class="container">

    <header class="main-header">
      <div class="wrapper">
        <%= link_to root_path do %><%= image_tag "logo.png", :alt => "image description", :class => "logo" %><% end %>
        <a href="" class="menu-link">
          <div class="top"></div>
          <div class="middle"></div>
          <div class="bottom"></div>
        </a>
      </div>
    </header>

    <main class="main-content">
      <div class="wrapper">
      <%= yield %>
      </div>
    </main>

    <%= render :partial => "layouts/sidemenu" %>

  </div>

    <%# javascript_include_tag 'data-turbolinks-track' => true %>
  <% if params[:controller] == 'shop' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYpKRqaf8jYVoxl39_Y1mXnHZ9sJbBTHY"></script>
    <script>console.log('google maps loaded');</script>
    <script src="https://js.stripe.com/v2/"></script>
    <script>
      Stripe.setPublishableKey('pk_test_6pRNASCoBOKtIshFeQd4XMUh');
      console.log('stripe loaded');
    </script>
  <% end %>
    <%= javascript_include_tag 'application' %>

  <div style="display:none;"><%= params[:controller] %></div>

</body>
</html>
