<!DOCTYPE html>
<html>
<head>
  <title>Vynz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><%= link_to 'Home', home_index_path %></li>
  <li><%= link_to 'Producers', producers_path %></li>
  <li><%= link_to 'Regions', regions_path %></li>
  <li><%= link_to 'Sub-regions', subregions_path %></li>
  <li><%= link_to 'Grape types', grapenames_path %></li>
  <li><%= link_to 'Grapes', grapes_path %></li>

  <li><%= link_to 'Wine Types', wine_types_path %></li>
  <li><%= link_to 'Maturation Types', maturation_types_path %></li>
  <li><%= link_to 'Wine Maturations', wine_maturations_path %></li>
  <li><%= link_to 'Wine Allergies', wine_allergies_path %></li>
  <li><%= link_to 'Wine Notes', wine_notes_path %></li>
  <li><%= link_to 'Wine Foods', wine_foods_path %></li>
  <li><%= link_to 'Wine Occasions', wine_occasions_path %></li>

</ul>

<%= yield %>

</body>
</html>
