<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Promotions Details</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Id:</strong>
          <%= @user_promotion.id %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Created:</strong>
          <%= @user_promotion.created_at %>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>User:</strong>
          <%= link_to admin_user_path(@user_promotion.user) do %>
              <%= @user_promotion.user.name %>
          <% end %>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Promotion Code:</strong>
          <%= link_to admin_promotion_promotion_code_path(@user_promotion.promotion_code.promotion, @user_promotion.promotion_code) do %>
              <%= @user_promotion.promotion_code.code %> (<%= @user_promotion.promotion_code.promotion.title %>)
          <% end %>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Redeemed</strong>
          <%= @user_promotion.redeemed %>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Can Be Redeemed</strong>
          <%= @user_promotion.can_be_redeemed %>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Referral:</strong>
          <% unless @user_promotion.referral.blank? %>
              <%= link_to admin_referral_path(@user_promotion.referral) do %>
                  <%= @user_promotion.referral.id %>
              <% end %>
          <% end %>
        </div>
      </div>
    </li>

    <div class="panel-footer">
      <div class="row">
        <div class="col-md-12">
          <%= link_to edit_admin_user_promotion_path(@user_promotion), class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
          <% end %>
        </div>
      </div>
    </div>
  </ul>
</div>