<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Promotions Details</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Id:</strong>
          <%= @user_promotion.id %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Created:</strong>
          <%= @user_promotion.created_at %>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>User:</strong>
          <%= link_to admin_user_path(@user_promotion.user) do %>
              <%= @user_promotion.user.name %>
          <% end %>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Category:</strong>
          <%= @user_promotion.category %>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Promotion Code:</strong>
          <%= @user_promotion.promotion_code.code %>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Promotion:</strong>
          <%= @user_promotion.promotion_code.promotion.title %>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Referral:</strong>
          <% unless @user_promotion.referral.blank? %>
              <%= link_to admin_referral_path(@user_promotion.referral) do %>
                  <%= @user_promotion.referral.id %>
              <% end %>
          <% end %>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Redeemed</strong>
          <%= @user_promotion.redeemed %>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <strong>Can Be Redeemed</strong>
          <%= @user_promotion.can_be_redeemed %>
        </div>
      </div>
    </li>
  </ul>
</div>